.income{
  padding-top: 1vh;
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  .income-amount{
    height: 10vh;
  }
  .income-pie{
    .income-pie-title{
      color: white;
      border: none;
    }
  }
}

