.event-list{
  padding: 5px;
  height: calc(100% - 30px);
}
.event-list>.weui-cells{
  color: white;
  background-color: transparent;
  font-size: 0.875rem;
}
.event-list .weui-cell{
  cursor: pointer;
  margin-top: 1vh;
}
.event-list .weui-cell:before{
  border: none;
}
.event-list .weui-cells:before{
  border: none;
}
.event-list .weui-cells:after{
  border: none;
}
.event-list .btn-group>button{
  margin-top: 1vh;
}
