body .event-info>p{
  line-height: 4vh;
}
/*.ui-scrollpanel-wrapper {
  background: transparent;
  border: none; !*控制滚动轴背景色*!
}
.ui-scrollpanel-bar {
  background-color: transparent;
  opacity: 1;
  transition: background-color .3s;
}
.ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}*/
