<div class="service-manager-office">
  <!--未处理-->
  <div class="col-lg-6 col-md-6 event-table-untreated">
    <div class="event-table-untreated-title title text-center">
      <span></span><span></span><span></span><span></span>
      <p>未处理事件</p>
    </div>
    <app-event-list [option]="eventList" [width]="'100%'" [height]="'30vh'" (eventListClick)="openEventAlert($event)"></app-event-list>
  </div>
  <!--事件上报/卫生间/停车位-->
  <div class="col-lg-6 col-md-6 event-table-processed">
    <div class="event-table-processed-title title text-center">
      <span></span><span></span><span></span><span></span>
      <p>事件上报</p>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '30vh'}" styleClass="service-statistics">
      <div class="event-table-processed-type">
        <span *ngFor="let item of eventInfoUpTypes" [ngStyle]=" {'float': item.eventCategoryName === '党群工作部'?'right': 'none', 'margin-right': item.eventCategoryName === '党群工作部'?'5vw':'none'}" (click)="eventInfoUpClick(item)">{{item.eventCategoryName}}</span>
      </div>
      <div class="event-table-processed-btn">
        <div class="col-lg-6 col-md-6" style="padding-right: 0;">
          <div class="btn-toilet" (click)="openServersToiletAlert('服务区卫生间使用率')">
            <p style="font-size: 0.875rem">
              {{serviceInfo?.upAttributeValues.source}}-->
              {{serviceInfo?.upAttributeValues.destination}}卫生间数据监控
            </p>
            <p><span>男厕剩余空位：25/50</span></p>
            <p><span>女厕剩余空位：45/70</span></p>
          </div>
          <div class="btn-carport" (click)="openServersToiletAlert('服务区停车位监控')">
            <p style="font-size: 0.875rem">
              {{serviceInfo?.upAttributeValues.source}}-->
              {{serviceInfo?.upAttributeValues.destination}}停车位数据监控
            </p>
            <p><span>大车剩余车位：11/20</span></p>
            <p><span>小车剩余车位：15/32</span></p>
            <p><span>客车剩余车位：06/22</span></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6" style="margin-bottom: 2vh;padding-right: 0;">
          <div class="btn-toilet" (click)="openServersToiletAlert('服务区卫生间使用率')">
            <p style="font-size: 0.875rem">
              {{serviceInfo?.downAttributeValues.source}}-->
              {{serviceInfo?.downAttributeValues.destination}}卫生间数据监控
            </p>
            <p><span>男厕剩余空位：25/50</span></p>
            <p><span>女厕剩余空位：45/70</span></p>
          </div>
          <div class="btn-carport" (click)="openServersToiletAlert('服务区停车位监控')">
            <p style="font-size: 0.875rem">
              {{serviceInfo?.downAttributeValues.source}}-->
              {{serviceInfo?.downAttributeValues.destination}}停车位数据监控
            </p>
            <p><span>大车剩余车位：03/15</span></p>
            <p><span>小车剩余车位：21/30</span></p>
            <p><span>客车剩余车位：18/22</span></p>

          </div>
        </div>
      </div>
    </p-scrollPanel>
  </div>
</div>
<!--事件弹窗-->
<div class="bg-box" *ngIf="eventAlertShow" >
  <div class="alert-window" style="height:80vh; margin-top: -40vh;">
    <div class="alert-window-header" >
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <span>服务区事件处理</span>
          <div class="pull-right" (click)="closeEventAlert()">
            <i class="fa fa-window-close " aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="alert-window-content" style="padding: 10px 10px 0 10px;">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div>
            <button class="btn" [ngStyle]="{'color':!eventAlertListShow?'black': 'white'}" [ngClass]="{'btn-primary': eventAlertListShow}" (click)="eventAlertListCtrlw()">未处理事件</button>
            <button class="btn" [ngStyle]="{'color':eventAlertListShow?'black': 'white'}" [ngClass]="{'btn-primary': !eventAlertListShow}" (click)="eventAlertListCtrly()">已处理事件</button>
          </div>
        </div>
        <div class="col-lg-8 col-md-8" *ngIf="eventAlertListShow">
          <app-event-list [option]="eventListNoProcess" [width]="'100%'" [height]="'65vh'" (eventListClick)="eventListInfosClick($event)"></app-event-list>
        </div>
        <div class="col-lg-8 col-md-8" *ngIf="!eventAlertListShow">
          <app-event-list [option]="eventListProcess" [width]="'100%'" [height]="'65vh'" (eventListClick)="eventListInfosClick($event)"></app-event-list>
        </div>
        <div class="col-lg-4 col-md-4">
          <app-event-list-info [option]="eventListInfo" [width]="'100%'" [height]="'45vh'"></app-event-list-info>
        </div>
      </div>
    </div>
  </div>
</div>
<!--上报信息 弹窗弹窗-->
<div class="bg-box" *ngIf="eventAlertInfoUp" >
  <div class="alert-window" style="height:80vh; margin-top: -40vh;">
    <div class="alert-window-header" >
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <span>{{eventAlertInfoUpTitle}}事件上报</span>
          <div class="pull-right" (click)="closeEventInfoUpClick()">
            <i class="fa fa-window-close " aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="alert-window-content" style="padding: 10px 10px 0 10px;">
      <div class="row">
        <div class="col-ld-12 col-md-12">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="eventName" class="col-sm-2 control-label" disabled="">事件名称：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="eventName" name="type" [(ngModel)]="uploadEventInfoUp.eventName">
              </div>
              <label class="col-sm-2 control-label" disabled="">责任人</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="type" [(ngModel)]="uploadEventInfoUp.principal">
              </div>
            </div>
            <div class="form-group">
              <label for="eventSubject" class="col-sm-2 control-label" disabled="">事件发生主体：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="eventSubject" name="type" [(ngModel)]="uploadEventInfoUp.eventSubject">
              </div>
              <label for="occurTime" class="col-sm-2 control-label" disabled="">事件发生时间</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="occurTime" name="type" [(ngModel)]="uploadEventInfoUp.occurTime">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">事件描述</label>
              <div class="col-sm-10">
                <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="uploadEventInfoUp.eventDescripte"></textarea>
              </div>
            </div>
            <div class="form-group text-center style-border">
              <button class="btn btn-success" type="button" (click)="serviceInfoUpAlertClick()">上报</button>
              <button class="btn btn-danger" type="button" (click)="closeEventInfoUpClick()">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--(待开发)服务洗手间信息监控-->
<div class="bg-box" *ngIf="serversToiletAlertShow">
  <div class="alert-window">
    <div class="alert-window-header">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <span>{{waitTitle}}</span>
          <div class="pull-right" (click)="closeServersToiletAlert()">
            <i class="fa fa-window-close " aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="alert-window-content">
      <div class="row">
        <div class="col-ld-12 col-md-12">
          <h1 class="text-center">待开发中......</h1>
        </div>
      </div>
    </div>
  </div>
</div>
