<div #echartsbox class="accumulation-3Dbar" echarts [options]="options3d" [merge]="updateOptions" (chartClick)="barClick($event)" [autoResize]="true" (chartInit)="onInit($event)"></div>
<!--<div #echartsbox class="accumulation-3Dbar"></div>-->
<!--<div class="accumulation-3Dbar" echarts [options]="options3dCopy" (chartClick)="barCopyClick($event)"></div>-->
<!--3D柱状图弹窗-->
<!--<div class="bg-box" *ngIf="alertBarShow">
  <div class="alert-3D-bar">
    <div class="alert-3D-bar-header">
      <span>{{alertBarTitle}}</span>
      <div class="pull-right" (click)="closeBarShow()">
        <i class="fa fa-window-close " aria-hidden="true"></i>
      </div>
    </div>
    <div class="row bar3D-charts">
      <div class="col-ld-6 col-md-6">

    </div>
      <div class="col-ld-6 col-md-6">

      </div>
      &lt;!&ndash;<span class="toggle-btn-area-table" (click)="open3dBarExcel()">表格导出</span>&ndash;&gt;
    </div>
    &lt;!&ndash;表格导出&ndash;&gt;
    &lt;!&ndash;<div class="bg-excel" *ngIf="bar3dExcelShow">
      <div class="alert-window-excel">
        <div class="alert-window-excel-header">
          <span>收入数据表格导出</span>
          <div class="pull-right" (click)="close3dBarExcel()">
            <i class="fa fa-window-close " aria-hidden="true"></i>
          </div>
        </div>
        <div class="alert-window-excel-content">
          <div class="alert-window-excel-content-list">
            <label>请选择时间：</label>
            <p-calendar placeholder="请点击选择时间......" [locale]="esDate" [(ngModel)]="value" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2017:2030"></p-calendar>
          </div>
          <div class="alert-window-excel-content-list">
            <label for="incomeTypes">请选择类型：</label>
            <select name="" id="incomeTypes" (change)="bar3dTypeChange($event)">
              <option value="">点击选择...</option>
              <option value="">所有类型</option>
              <option value="">经营收入</option>
              <option value="">驻车量</option>
              <option value="">用电量</option>
              <option value="">用水量</option>
              <option value="">客流量</option>
            </select>
          </div>
          &lt;!&ndash;<div class="alert-window-excel-content-list">
            <label for="incomeArea">请选择片区：</label>
            <select name="" id="incomeArea" (change)="bar3dAreaChange($event)">
              <option value="">东部片区</option>
              <option value="">西部片区</option>
              <option value="">南部片区</option>
              <option value="">北部</option>
              <option value="">中部</option>
            </select>
          </div>&ndash;&gt;
        </div>
        <div class="alert-window-excel-footer text-center">
          <span (click)="bar3dExportClick()">确认导出</span>
          <span (click)="close3dBarExcel()">取消导出</span>
        </div>
      </div>
    </div>&ndash;&gt;
  </div>
</div>-->
