<div class="city">
  <!--*****************大数据可视化***********************-->
  <div class="row">
    <div class="city-left">
      <div class="col-lg-3 col-md-3">
<!--        <app-city-3d [esDate]="esDate" [cityId]="cityId" [cityName]="dataToggle"></app-city-3d>-->
        <!--车辆统计-->
<!--        <app-city-car [esDate]="esDate" [cityId]="cityId" [cityName]="dataToggle"></app-city-car>-->
      </div>
    </div>
    <div class="city-center">
      <div class="col-lg-6 col-md-6">
        <div class="city-center-map">
          <!--<app-echarts-city-bmap
            [height]="'50vh'"
            [option]="{area: dataToggle}"
            [points]="mapPoints"
            (cityClick)="mapCityClick($event)"
          ></app-echarts-city-bmap>-->
        </div>
        <div class="city-center-echart">
          <div class="col-lg-6 col-md-6">
            <div class="echart-bar">
              <!--<app-echarts-bar-double [title]="'市级速公路/客流统计'"></app-echarts-bar-double>-->
<!--              <app-echarts-area-chart [height]="'height: 34vh;'" [option]="options3d"></app-echarts-area-chart>-->
            </div>
          </div>
          <div class="col-lg-6 col-md-6" [title]="'市级突发事件处理概况'">
            <div class="echart-circle">
              <!--<app-echart-pie-circle-a></app-echart-pie-circle-a>-->
<!--              <app-echarts-line-move [height]="'height: 34vh;'" [option]="options3dCopy"></app-echarts-line-move>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="city-right">
      <div class="col-lg-3 col-md-3">
        <!--业态前十排名柱状图-->
<!--        <app-city-crosswise [cityId]="cityId" [cityName]="dataToggle"></app-city-crosswise>-->
        <!--收入统计-->
<!--        <app-city-income [esDate]="esDate" [cityId]="cityId" [cityName]="dataToggle"></app-city-income>-->
      </div>
    </div>
  </div>
</div>

