/**
 * Created by wangwenjun on 2018/2/22.
 * project name ...
 */
.main{
  position: relative;
}
/****************************中部****************************/
/*地图*/
.center .map {
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2);
  margin-bottom: 1vh;
}
.center .map-bmap{
  height: 50vh;
}
/*事件*/
.center .event-table{
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  overflow: hidden;
  padding: 1vh 0.5vw;
}
/*事件监控*/
.center .event-table-service{
  padding-right: 0;
  padding-left: 0;
}
.center .event-table-person{
  padding-right: 0;
  padding-left: 0;
}
