/*个人信息*/
.content{
  width: 80vw;
  min-height: 85vh;
  margin: 0 auto;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2);
  padding: 0 0.5vw;
}
.content-header{
  padding: 10px;
  border-bottom: 1px dashed white;
  color: #87FFFF;
}
.content-header h4>small{
  color: #87FFFF;
}
/*公共样式*/
.style-border{
  margin-top: 30px;
}
/*bootstrap*/
.form-horizontal{
  margin-top: 15px;
}
.form-horizontal .form-control{
  background: rgba(255,255,255,0.11);
  border: none;
  color: white;
}

