<div class="row">
  <div class="nav" [ngStyle]="{opacity: navOpacity, height: navHeight}">
    <ul class="list-group">
     <!-- <li *ngFor="let item of urlList;let i =index" class="list-group-item" [routerLink]="[item?.url, {id: 1, name: '久长服务区'}]">
        <i [class]="urlIcon[urlClass[i]]" aria-hidden="true" data-toggle="tooltip" data-placement="right" [title]="item?.menuName"></i>
      </li>-->
      <li  class="list-group-item" (click)="visibleSidebar2 = true">
        <i class="fa fa-area-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right"></i>
      </li>
      <!--<li class="list-group-item" [routerLink]="['./whole']">
        <i class="fa fa-area-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="全国业态大数据"></i>
      </li>
      <li class="list-group-item" [routerLink]="['./finance']">
        <i class="fa fa-bar-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="省级业态大数据"></i>
      </li>
      <li class="list-group-item" [routerLink]="['./city']">
        <i class="fa fa-line-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="市级业态大数据"></i>
      </li>
      <li class="list-group-item" [routerLink]="['./serzone', {name: '久长服务区', point: [116.39737, 39.935076]}]">
          <i class="fa fa-pie-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="服务区业态大数据"></i>
      </li>
      <li class="list-group-item" [routerLink]="['./videow']">
        <i class="fa fa-video-camera" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="视频监控"></i>
      </li>-->
    </ul>
  </div>
</div>
<div class="nav-sidebar">
  <p-sidebar [(visible)]="visibleSidebar2" position="left" [baseZIndex]="12000" [showCloseIcon]="false">
    <p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="nav-scroll">
    <h4 style="font-weight:normal;text-align: center">高投集团</h4>
    <p-tree [value]="filesTree2" selectionMode="single" [(selection)]="selectedFile"
            (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" (onNodeExpand)="nodeExpand($event)">

    </p-tree>
    </p-scrollPanel>
  </p-sidebar>
</div>



