<!--3d柱状图-->
<div class="province-3d">
  <app-title-one [height]="'3vh'" [option]="{title: provinceName + '服务区随机视频查看'}"></app-title-one>
  <!--<app-echart3d
    [option]="options3d"
    [color]="['#9B90D5', '#46E7E2', '#78F991']"
    (outOptions3d)="onOutOptions3d($event)"
  ></app-echart3d>
  <app-echart3d
    [option]="options3dCopy"
    [color]="['#D06052', '#E29F39']"
    (outOptions3d)="onOutOptions3d($event)"
  ></app-echart3d>-->
  <!--3D柱状图弹窗 -->
  <div class="information-video">
    <div id="infoVideo1"></div>
    <div id="infoVideo2"></div>
  </div>
  <div class="province-3d-alert" *ngIf="alertBarShow">
    <div class="content">
      <div class="header">
        <span class="title pull-left">{{alertBarTitle}}</span>
        <div class="closex pull-right" (click)="closeBarShow()">
          <i class="fa fa-window-close " aria-hidden="true"></i>
        </div>
        <div class="export">
          <span (click)="bar3dExcelShow = true">表格导出</span>
        </div>
      </div>
      <div class="row charts">
        <div class="col-ld-6 col-md-6">
          <app-echart-basicbar [option]="options3dBar" [height]="'55vh'" (outOptions3dBar)="onOutOptions3dBar($event)"></app-echart-basicbar>
        </div>
        <div class="col-ld-6 col-md-6">
          <app-echart-pie [option]="options3dPie" [height]="'55vh'" (pieClick)="onOptions3dPie($event)"></app-echart-pie>
        </div>
      </div>
      <!--表格导出-->
      <div class="bg-excel" *ngIf="bar3dExcelShow">
        <div class="alert-window-excel">
          <div class="alert-window-excel-header">
            <span>收入数据表格导出</span>
            <div class="pull-right" (click)="bar3dExcelShow=false">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
          <div class="alert-window-excel-content">
            <div class="alert-window-excel-content-list">
              <label>请选择开始时间：</label>
              <p-calendar placeholder="请点击选择时间......" [locale]="esDate" [(ngModel)]="startTime3d" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yymmdd"  yearRange="2017:2030"></p-calendar>
            </div>
            <div class="alert-window-excel-content-list">
              <label>请选择结束时间：</label>
              <p-calendar placeholder="请点击选择时间......" [locale]="esDate" [(ngModel)]="endTime3d" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yymmdd"  yearRange="2017:2030"></p-calendar>
            </div>
          </div>
          <div class="alert-window-excel-footer text-center">
            <span (click)="bar3dExportClick();bar3dExcelShow = false">确认导出</span>
            <span (click)="bar3dExcelShow=false">取消导出</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
