/*服务区基本信息*/
.information {
  padding-top: 1vh;
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  position: relative;
  .information-btn{
    padding-top: 10px;
    height: 8vh;
    position: absolute;
    width: 100%;
    bottom: 5px;
    span{
      display: inline-block;
      min-width: 5vw;
      padding: 0.5vh 0.5vh;
      background: #30A7AD;
      border-radius: 3px;
      cursor: pointer;
      font-size: 0.875rem;
      &:nth-child(2){
        margin-right: 1vw;
        margin-left: 1vw;
      }
    }
  }
  .information-video{
    padding-top: 1vh;
    width: 100%;
    height: 36vh;
    text-align: center;
    #infoVideo1{
      height: 50%;
    }
    #infoVideo2{
      margin-top: 1vh;
      height: 50%;
    }
  }
  .bg-box{
    .income-manual-time{
      .ui-calendar {
        min-width: 100%;
        .ui-inputtext {
          color: white;
          min-width: 100%;
          background: rgba(255, 255, 255, 0.11);
          border: none;
          &::placeholder{
            color: white;
          }
        }
      }
    }
    /*表单样式覆盖*/
    .form-horizontal{
      margin-top: 15px;
    }
    .form-horizontal .form-control{
      background: rgba(255,255,255,0.11);
      border: none;
      color: white;
    }
    .list-group>a{
      color: #87FFFF;
    }
    .list-group {
      padding-left: 0;
      margin-bottom: 20px;
    }
    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid white;
    }
    .list-group-item:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
:host ::ng-deep .information-info-scroll .ui-scrollpanel-content {
  width: 102%;
}
:host ::ng-deep .information-info-scroll .ui-scrollpanel-wrapper{
  z-index: unset;
  border: none; /*控制滚动轴背景色*/
}
:host ::ng-deep .information-info-scroll .ui-scrollpanel-bar {
  background-color: transparent;
  opacity: 1;
  transition: background-color .3s;
}
/*服务区修改弹窗*/
.style-border>span{
  background: #1A2128;
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
}
/*服务区平面图弹窗*/
.services-plan-left{
  width: 20%;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 9999;
}
.services-plan{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 74.5vh;
  background-image: url(/assets/images/liti.jpg);
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.services-plan-right{
  width: 20%;
  height: 75vh;
  position: absolute;
  top: 0;
  right: 1vw;
  z-index: 9999;
}
.service-date-info-top{
  position: relative;
  height: 22vh;
  background: rgba(5,46,74,0.4);
  margin-top: 2.2vh;
  border-top: 1px solid #69FFFF;
  box-shadow: 0 0 20px #69FFFF;
}
.service-date-info-bottom{
  position: relative;
  height: 22vh;
  background: rgba(5,46,74,0.4);
  margin-top: 2.2vh;
  border-top: 1px solid #69FFFF;
  box-shadow: 0 0 20px #69FFFF;
}
.service-date-info-top::before{
  content:"";
  position:absolute;
  right: -17px;
  top: 6px;
  width:20px;
  height: 1px;
  box-sizing:border-box;
  border-bottom:1px solid #69FFFF;
  transform-origin:bottom center;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
.service-date-info-bottom::before{
  content:"";
  position:absolute;
  left: -17px;
  top: 6px;
  width:20px;
  height: 1px;
  box-sizing:border-box;
  border-bottom:1px solid #69FFFF;
  transform-origin:bottom center;
  transform:rotate(135deg);
  -o-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
}
// 服务区信息弹窗
.information-info{
  margin-top: 1vh;
  height: 54vh;
  overflow: hidden;
  font-size: 0.8rem;
  margin-bottom: 1vh;
  p{
    span{
      margin-top: 1vh;
    }
  }
}
