<div class="information">
  <app-title-one [height]="'3vh'" [option]="{title: serviceName + '多媒体信息'}"></app-title-one>
  <div class="information-video">
    <div id="infoVideo1"></div>
    <div id="infoVideo2"></div>
  </div>
  <div class="information-btn text-center">
    <span (click)="openServiceInfo()">服务区信息详情</span>
  </div>
  <!--服务区信息弹窗-->
  <div class="bg-box" *ngIf="alterServiceInfo">
    <div class="alert-window">
      <div class="alert-window-header">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <span>服务区信息详情</span>
            <!--            this.openInfoVideo()-->
            <div class="pull-right" (click)="this.alterServiceInfo=false;">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="alert-window-content">
        <div class="information-info">
          <p-scrollPanel [style]="{width: '100%', height: '54vh'}" styleClass="information-info-scroll">
            <!--公共属性-->
            <div class="col-lg-6 col-md-6" *ngFor="let prop of commonAttributeValues">
              <div>
                <p class="clearfix">
                  <span class="pull-left text-c1" style="color: #4887CA">{{prop?.fieldName}}：</span>
                  <span class="pull-right">{{prop?.fieldValues}}</span>
                </p>
              </div>
            </div>
            <!--上行属性-->
            <div class="col-lg-12  col-md-12">
              <div
                style="
              width: 100%;
              height: 3vh;
              line-height: 3vh;
              color: #FF832A;
              position: relative;
              text-align: center">
                <div style="
                width: 32%;
                top: 60%;
                left: 0;
                border-bottom:1px dashed  #FF832A;
                position: absolute;"></div>
                <div style="
                width: 32%;
                top: 60%;
                right: 0;
                border-bottom:1px dashed  #FF832A;
                position: absolute;"></div>
                <span>{{serviceInfo?.upAttributeValues?.source}}</span>
                <span style="vertical-align: middle">—<i class="fa fa-angle-right" aria-hidden="true"
                                                         style="vertical-align: middle"></i></span>
                <span style="vertical-align: middle">{{serviceInfo?.upAttributeValues?.destination}}（上行）</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" *ngFor="let prop of upAttributeValues">
              <div>
                <p class="clearfix">
                  <span class="pull-left text-c1" style="color: #4887CA">{{prop?.fieldName}}：</span>
                  <span class="pull-right">{{prop?.fieldValues}}</span>
                </p>
              </div>
            </div>
            <!--下行属性-->
            <div class="col-lg-12  col-md-12">
              <div style="
              width: 100%;
              height: 3vh;
              color: #FF832A;
              position: relative;
              text-align: center;
              line-height: 3vh;
          ">
                <div style="
            width: 32%;
            top: 60%;
            left: 0;
            border-bottom:1px dashed  #FF832A;
            position: absolute;"></div>
                <div style="
            width: 32%;
            top: 60%;
            right: 0;
            border-bottom:1px dashed  #FF832A;
            position: absolute;"></div>
                <span>{{serviceInfo?.downAttributeValues?.source}}</span>
                <span style="vertical-align: middle">—<i class="fa fa-angle-right" aria-hidden="true"
                                                         style="vertical-align: middle"></i></span>
                <span>{{serviceInfo?.downAttributeValues?.destination}}（下行）</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" *ngFor="let prop of downAttributeValues">
              <div>
                <p class="clearfix">
                  <span class="pull-left text-c1" style="color: #4887CA">{{prop?.fieldName}}：</span>
                  <span class="pull-right">{{prop?.fieldValues}}</span>
                </p>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </div>
    </div>
  </div>
</div>
