<div class="warning-event">
  <div class="warning-event-btn">
    <button pButton type="button" label="全部事件" class="ui-button-info" style="background: #6C757D;border-color: #6C757D"></button>
    <button pButton type="button" label="经营类事件"></button>
    <button pButton type="button" label="社会治安类事件" class="ui-button-success"></button>
    <button pButton type="button" label="其他类事件" class="ui-button-warning"></button>
    <button pButton type="button" label="安全类事件" class="ui-button-danger"></button>
    <button pButton type="button" label="设备工程类事件" class="ui-button-danger" style="background: #17A2B8;border-color: #17A2B8"></button>
  </div>
  <div class="warning-event-lists">
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access" style="background-color: rgba(233,18,36,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">阿花服务区酒店起火...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #F43530;">总部</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(136,72,152,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">阿妹服务区门口有人打架...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #884898;">片区</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(255,186,1,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">久长服务区水管爆了...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #FFBA01;">服务区</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(233,18,36,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">阿花服务区酒店起火...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #F43530;">总部</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(136,72,152,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">阿妹服务区门口有人打架...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #884898;">片区</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(255,186,1,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">久长服务区水管爆了...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #FFBA01;">服务区</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(233,18,36,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">阿花服务区酒店起火...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #F43530;">总部</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(136,72,152,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">阿妹服务区门口有人打架...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #884898;">片区</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
      <div class="weui-cell weui-cell_access" style="background-color: rgba(255,186,1,0.3);">
        <div class="weui-cell__bd">
          <span style="vertical-align: middle">久长服务区水管爆了...</span>
          <span class="weui-badge" style="margin-left: 5px;background-color: #FFBA01;">服务区</span>
        </div>
        <div class="weui-cell__ft"></div>
      </div>
    </div>
  </div>
</div>
