/**
 * Created by wangwenjun on 2018/2/22.
 * project name ...
 */
.main{
  position: relative;
}
/****************************主体左边****************************/
/*3D柱状图*/
.main .accumulation3d{
  height: 42vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  margin-right: -8px;
}
.main .accumulation{
  height: 42vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-right: -8px;
}
/****************************主体中间***************************/
/*离散地图分布图*/
.main .map {
  margin-left: -8px;
  margin-right: -8px;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2);
}
.main .map .tab-map{
  height: 5vh;
  line-height: 5vh;
  padding-left: 5px;
  font-weight: bolder;
  position: relative;
}
/*地图部分的位置演示*/
.main .tab-map .location{
  display: inline-block;
}
.main .tab-map .location{
  cursor: pointer;
}
.main .tab-map .select{
  display: inline-block;
  margin-left: 15px;
  color: white;
}
.main .tab-map .select:hover{
  cursor: pointer;
}
.main .select-list-province{
  background: rgba(18,51,76,0.8);
  padding-left: 0;
  /*padding-right: 45px;*/
  color: #87FFFF;
  position: absolute;
  top: 45px;
  z-index: 1;
}

.main .select-list-city{
  background: rgba(18,51,76,0.8);
  padding-left: 0;
  border-left: 1px solid rgba(135,255,255,0.6);
  /*padding-right: 45px;*/
  color: #87FFFF;
  position: absolute;
  top: 91px;
  left: 131px;
  z-index: 1;
}
.main .select-list-province>li,.main .select-list-city>li{
  list-style: none;
  padding: 0 45px;
  text-align: center;
}
.main .select-list-province>li:hover,.main .select-list-city>li:hover{
  cursor: pointer;
  background: rgba(245,50,173,0.5);
}

.main .top-map{
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  /*margin-bottom: 1vh;*/
  height: 80vh;
}

/*横向柱状图 右部分*/
.main .crosswise-bar{
  height: 42vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  margin-left: -8px;
}
.main .today-income {
  /*margin-bottom: 1vh;*/
  height: 42vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-left: -8px;
}

/****************************主体下部分****************************/

/*服务区当日驻车量排名*/
.main-bottom .accumulation{
  height: 32vh;
  border:1px solid #3B425C;
  margin-right: -8px;
}
/*事件监控列表*/
.main-bottom .event-table{
  padding-top: 1px;
  height: 32vh;
  border:1px solid #3B425C;
  overflow: hidden;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 12px;
}
.main-bottom .event-table tr:hover{
  cursor: pointer;
}
.main-bottom .table-title{
  padding: 5px 0 10px 5px;
  font-weight: bolder;
  font-size: 14px;
}
.main-bottom .table-header{
  height: 5vh;
  /*border: 1px solid #0593B5;*/
  background: rgba(7,149,188,0.2);
  color: #00ECF1;
}
.main-bottom .table-body{
  margin-top: 5px;
}
.main-bottom .table-body .table-tr{
  border-bottom: 1px solid #0593B5;
  position: relative;
  color: #87FFFF;
  border-collapse:separate;
  border-spacing:10px;
}
.main-bottom .table-body .table-tr span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.main-bottom .table-body .table-tr>.hot{
  position: relative;
}
.main-bottom .table-body .table-tr>.hot>span{
  position: absolute;
  top: 3px;
  left: 24px;
  width: 10px;
  height: 10px;
  background: red;
  display: inline-block;
}
/*实时车流收入数据监控*/
.main-bottom .number{
  margin-bottom: 1vh;
  height: 32vh;
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
}
.main-bottom .number .vehicle{
  height: 15.5vh;
  border:1px solid #3B425C;
  padding-left: 5px;
  margin-bottom: 1vh;
}
.main-bottom .number .vehicle>p{
  padding-top: 1vh;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-bottom .number .vehicle-amount>h3>span{
  display: inline-block;
  width: 30px;
  height: 45px;
  border: 1px solid #7D8DA7;
  line-height: 45px;
  text-align: center;
  background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);
}
.main-bottom .number .vehicle .vehicle-amount>p{
  margin-top: 1vh;
  font-size: 1.5rem;
}
.main-bottom .number .income{
  height: 15.5vh;
  border:1px solid #3B425C;
  padding-left: 5px;
}
.main-bottom .number .income>p{
  padding-top: 1vh;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-bottom .number .income .income-amount>h3>span{
  display: inline-block;
  width: 30px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #01D1DB;
}
.main-bottom .number .income .income-amount>p{
  margin-top: 1vh;
  font-size: 1.5rem;
}
/*服务区当日收入排名*/
.main-bottom .today-income {
  margin-bottom: 1vh;
  height: 32vh;
  border:1px solid #3B425C;
  margin-left: -8px;
}

/****************************弹窗部分****************************/
.bg-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(149,161,154,0.6);
  z-index: 2;
}

.alert-box{
  position: absolute;
  width: 100%;
  height: 92vh;
  background: rgba(10,10,72,0.9);
  z-index: 2;
  overflow: hidden;
}
.alert-box-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(245,43,43,0.8);
}
.alert-box-content{
  height: 86vh;
  overflow: auto;
}
.alert-box-header span{
  font-size: 1.8rem;
  margin-left: 10px;
}
.alert-box-header div{
  padding-right: 10px;
}
.alert-box-header i:hover{
  cursor: pointer;
}

.alert-3D-bar{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -30vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(10,10,72,0.9);
  z-index: 1;
  /*overflow: auto;*/
}
.alert-3D-bar-header{
  height: 5vh;
  line-height: 5vh;
  background: rgba(245,43,43,0.8);
}
.alert-3D-bar-header span{
  margin-left: 10px;
}
.alert-3D-bar-header div{
  padding-right: 10px;
}
.alert-3D-bar-header i:hover{
  cursor: pointer;
}
.alert-3D-bar-chart{
  height: 55vh;
}
/********************************分割线******************************

 */
/*微调*/
.text-warning{
  margin-right: 10px;
}
/*字体图标*/
.fa-long-arrow-up{
  color: red;
}

/*百度地图*/
.anchorBL{
  display:none;
}

/*去掉默认样式 */
table tr td{
  border: none;
}

/*.btn {
  padding: 0;
  border-radius: 0;
  background: none;
}*/

/*test*/
.custombar1 .ui-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custombar1 .ui-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}

.custombar1 .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}
p{
  margin: 0;
}
/*bootstrap*/
.form-horizontal{
  margin-top: 15px;
}
.form-horizontal .form-control{
  background: rgba(255,255,255,0.11);
  border: none;
  color: white;
}
@media (max-width: 993px) {
  .main{
    margin-bottom: 2vh;
  }
  .main .service-search{
    display: block;
  }
  .main .accumulation3d{
    margin-right: -15px;
    margin-left: -15px;
  }
  .main .accumulation{
    margin-right: -15px;
    margin-left: -15px;
  }
  .main .map {
    display: none;
    margin-right: -15px;
    margin-left: -15px;
  }
  .main .crosswise-bar{
    margin-right: -15px;
    margin-left: -15px;
  }
  .main .today-income {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 7vh;
  }
}
