<div class="province-event-person">
  <div class="event-person-title">
    <span>个人信息处理</span>
  </div>
  <app-event-person [option]="personOfficeTypes" [width]="'100%'" [height]="'30vh'" (eventPersonClick)="tablePersonClick($event)"></app-event-person>
  <!--个人信息办公处处理-->
  <div class="bg-box" *ngIf="eventPersonShow">
    <div class="alert-window">
      <div class="alert-window-header">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <span>{{provinceName}}服务区办公信息</span>
            <div class="pull-right" (click)="closePersonShow()">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="alert-window-content">
        <div class="row">
          <div class="col-ld-12 col-md-12">
            <h1 class="text-center">待开发中......</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

