<div class="login">
  <div class="login-box">
    <div class="text-center">
      <h2>贵州高投大数据策略系统</h2>
      <!--<h4>视频监控子系统</h4>-->
    </div>
    <div class="form">
      <form class="form-horizontal"  [formGroup]="myFromModule" (submit)="onSubmit()">
        <!--账号-->
        <div class="form-group ">
          <label for="userName" class="control-label">账号</label>
          <input type="text" formControlName="userName" class="form-control" id="userName" placeholder="请输入账号" name="userN" autocomplete="off">
          <div *ngIf="formUsername.invalid && (formUsername.dirty || formUsername.touched)" class="text-danger ">
            <div *ngIf="formUsername.errors.required">
              账号是必填项
            </div>
          </div>
        </div>
        <!--密码-->
        <div class="form-group">
          <label for="password" class="control-label">密码</label>
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="请输入密码"  name="passW" autocomplete="off">
          <div *ngIf="formPassword.invalid && (formPassword.dirty || formPassword.touched)" class="text-danger ">
            <div *ngIf="formPassword.errors.required">
              密码是必填项
            </div>
          </div>
        </div>
        <!--登陆-->
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="login">
            登<span>录</span>
          </button>
          <a class="pull-right">忘记密码?</a>
        </div>
      </form>
    </div>
    <footer class="text-center" style="overflow: hidden">
      <h5>
        <span class="pull-left">贵州高投服务管理有限公司</span>
        <span class="pull-right" style="color: #FFFFFF;">贵阳红鸟智能技术服务有限公司</span></h5>
    </footer>
    <div class="vlc" style="color: #87FFFF;cursor: pointer;margin-top: 20px;text-align: center" (click)="vlcDownload()">
      <i class="fa fa-download" aria-hidden="true" style="color: #848484;font-size: 0.7rem;margin-right: 10px"></i>
      VLC插件支持（点击下载）
    </div>
  </div>
</div>
<app-gt-loading *ngIf="loginLoading"></app-gt-loading>
