<div class="service-vehicle">
  <!--日车流量实时统计-->
  <div class="service-vehicle-amount">
    <app-title-one [height]="'3vh'" [option]="{title: serviceName + '今日车流量'}"></app-title-one>
    <app-number-show [option]="vehicleAmount"></app-number-show>
  </div>
  <!--车型日分布占比-->
  <div class="service-vehicle-pie">
    <div class="service-vehicle-pie-title text-center">
      <p>{{serviceName}}当日车型日分布类型占比分析</p>
    </div>
    <app-echart-pie [option]="optionsCarModel" [height]="'20vh'" (pieClick)="parkClick($event)"></app-echart-pie>
  </div>
  <!--车辆类型弹窗-->
  <div class="bg-box" *ngIf="alertCarShow">
    <div class="alert-window">
      <div class="alert-window-header">
        <div class="row">
          <div class="col-ld-12 col-md-12">
            <span>{{serviceName}}</span>
            <div class="pull-right" (click)="closeCarShow()">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="alert-window-content">
        <div class="row">
          <div class="col-ld-12 col-md-12">
            <div class="alert-window-content-table">
              <div class="toggle-btn">
                <div class="toggle-btn-area text-center" style="">
                  <app-input-dropdown
                    [option]="carTimeSelect"
                    [height]="'3vh'"
                    [background]="'#1a2128'"
                    [dropdownBackground]="'rgba(26,33,40,0.8)'"
                    [hover]="'#5595D5'"
                    (dropdownClick)="carSelectTime($event)"></app-input-dropdown>
                  <span (click)="carExcelShow = true">表格导出</span>
                </div>
              </div>
              <div class="content-table">
                <p-scrollPanel [style]="{width: '100%', height: '40vh'}" styleClass="service-statistics">
                  <table class="table table-bordered" style="color: #87ffff;">
                    <thead>
                    <tr>
                      <th class="text-center">时间段</th>
                      <th class="text-center">服务区车辆分段统计</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of carTableData?.contents">
                      <td class="text-center" style="vertical-align: middle">{{item?.time}}</td>
                      <td colspan="5">
                        <table class="table table-bordered" style="background-color: transparent;color: #87ffff;">
                          <thead>
                          <tr>
                            <th>车辆总数</th>
                            <th>客车车辆</th>
                            <th>小车车辆</th>
                            <th>货车车辆</th>
                            <th>服务区方向</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let props of item?.serviceAreaVehicles">
                            <td>{{props?.totalVehicle}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>{{props?.coachVehicle}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>{{props?.sedanVehicle}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>{{props?.truckVehicle}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                              <span *ngIf="props?.source">{{props?.source+'——>'+props?.destination}}</span>
                              <span *ngIf="!(props?.source)">方向数据丢失</span>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </p-scrollPanel>
              </div>
              <app-paging [option]="{total: carTableData?.totalRecord,row: 10}" (pageClick)="carDistribution($event,carTimeTypes)"></app-paging>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-excel" *ngIf="carExcelShow">
        <div class="alert-window-excel">
          <div class="alert-window-excel-header">
            <span>车辆数据表格导出</span>
            <div class="pull-right" (click)="carExcelShow = false">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
          <div class="alert-window-excel-content">
            <div class="alert-window-excel-content-list">
              <label>请选择开始时间：</label>
              <p-calendar placeholder="请点击选择时间......" [locale]="esDate" [(ngModel)]="carStartTime" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yymmdd"  yearRange="2017:2030"></p-calendar>
            </div>
            <div class="alert-window-excel-content-list">
              <label>请选择结束时间：</label>
              <p-calendar placeholder="请点击选择时间......" [locale]="esDate" [(ngModel)]="carEndTime" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yymmdd"  yearRange="2017:2030"></p-calendar>
            </div>
          </div>
          <div class="alert-window-excel-footer text-center">
            <span (click)="carExportClick();carExcelShow = false">确认导出</span>
            <span (click)="carExcelShow = false">取消导出</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
