<div class="service-vehicle">
  <!--日车流量实时统计-->
  <div class="service-vehicle-amount">
    <app-title-one [height]="'3vh'" [option]="{title: serviceName + '今日车流量'}"></app-title-one>
    <h2 [countUp]="carNumber" [options]="carNumberOption" style="text-align: center;
    letter-spacing: 5px;
    font-size: 2rem;
    color: #05eff1;
    font-weight: 900;">0</h2>
  </div>
  <!--车型日分布占比-->
  <div class="service-vehicle-pie">
    <div class="service-vehicle-pie-title text-center">
      <p>{{serviceName}}当日车型日分布类型占比分析</p>
    </div>
    <app-echarts-rose-figure [height]="'20vh'" [option]="optionsCarModel"></app-echarts-rose-figure>
  </div>
</div>
