<div class="province-vehicle">
  <!--日车流量实时统计-->
  <div class="province-vehicle-amount">
    <app-title-one
      [height]="'3vh'"
      [option]="{title: provinceName + '今日车辆流动数量'}">
    </app-title-one>
    <h2
      [countUp]="carNumber"
      [options]="carNumberOption"
      style="text-align: center;
        letter-spacing: 5px;
        font-size: 2rem;
        color: #05eff1;
        font-weight: 900;">0</h2>
  </div>
  <!--车型日分布占比-->
  <div class="province-vehicle-pie">
    <div class="province-vehicle-pie-title text-center">
      <p>{{provinceName}}当日车型分布类型占比</p>
    </div>
    <app-echarts-rose-figure [height]="'20vh'" [option]="optionsCarModel"></app-echarts-rose-figure>
  </div>
</div>
