/*表格公共样式*/
.table-responsive tr td{
  border: none;
  font-size: 0.5rem;
}
.table-responsive tr:hover{
  cursor: pointer;
}
.table-responsive .table-header{
  height: 3vh;
  background: rgba(39,55,91,0.9);
  color: white;
}
.table-responsive .table-body{
  margin-top: 5px;
  background: rgba(32,36,45,0.9);
}
.table-responsive .table-body tr{
  /*border-bottom: 1px solid #0593B5;*/
  position: relative;
  color: #457FBB;
  border-collapse:separate;
  border-spacing:10px;
  font-size: 0.5rem;
}
.table-responsive .table-body tr:hover{
  background:rgba(255,255,255,0.3);
  color: white;
}
.table-responsive .table-body tr span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.table-responsive .table-body tr>.hot{
  position: relative;
}
.table-responsive .table-body tr>.hot>span{
  position: absolute;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 12px;
  top: 7px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: red;
  line-height: 20px;
}
