/*表格公共样式*/
.event-statistic>.table>thead{
  background: rgba(39,55,91,0.9);
  color: white;
}
.event-statistic>.table>tbody>tr{
  position: relative;
  color: #457FBB;
  border-collapse:separate;
  border-spacing:10px;
  font-size: 0.65rem;
}
.event-statistic>.table>tbody>tr:hover{
  cursor: pointer;
  background:rgba(255,255,255,0.3);
}
.event-statistic>.table>tbody>tr>td{
  border: none;
}
.event-statistic>.table>tbody>tr>.hot{
  position: relative;
}
.event-statistic>.table>tbody>tr>.hot>span{
  /*position: absolute;*/
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 0.65rem;
  /*top: 7px;*/
  /*right: 5px;*/
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  line-height: 20px;
}
/***********************************primeng虚拟滚动*****************************/
.custom .ui-scrollpanel-wrapper {
  border: none; /*控制滚动轴背景色*/
}
.custom .ui-scrollpanel-bar {
  background-color: transparent;
  opacity: 1;
  transition: background-color .3s;
}
.custom:hover .ui-scrollpanel-bar {
  /*background-color: red;*/
}
.ui-scrollpanel-content {
  padding: 0 0 18px 0;
}
