<div class="service-income">
  <!--实时收入-->
  <div class="service-income-amount">
    <app-title-one [height]="'3vh'" [option]="{title: serviceName + '高速服务区实时收入'}"></app-title-one>
    <h2 [countUp]="incomeNumber" [options]="incomeNumberOption" style="text-align: center;
    letter-spacing: 5px;
    font-size: 2rem;
    color: #05eff1;
    font-weight: 900;">0</h2>
  </div>
  <!--收入占比-->
  <div class="service-income-pie">
    <div class="service-income-pie-title title text-center">
      <p>{{serviceName}}当日收入类型占比分析</p>
    </div>
    <app-echarts-ring-pie [option]="optionsIncomeModel" [height]="'20vh'"></app-echarts-ring-pie>
  </div>
</div>
