
/*摄像头管理中部*/
.main-center-table{
  border:1px solid #3B425C;
  height: 91vh;
  padding-top: 1vh;
  color: #87FFFF;
  font-size: 1.6rem;
}
.main-center-table .top-button{
  padding-bottom: 2vh;
}
.main-center-table .top-button button{
  margin-right: 15px;
}
.main-center-table .search>#searchInput{
  background: rgba(255,255,255,0.3);
  border: none;
  border-radius: 5px;
  color: white;
  width: 25vw;
  height: 46px;
  padding-left: 20px;

}

/*底部*/
.footer{
  margin-top: 1vh;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  border:1px solid #3B425C;
}
.footer p{
  margin-bottom: 0;
}



/*公共样式*/
.style-border{
  margin-top: 30px;
}
input::placeholder{
  color: white;
  font-size: 1.8rem;
}

/*bootstrap改造*/
.list-group>a{
  color: #87FFFF;
}
.pagination > li > a {
  background-color: #d9dcde;
  margin-right: 1vw;
  font-size: 1.8rem;
  color: #333333;
  cursor: pointer;
}
.pagination > li > a:hover{
  background-color: #31B0D5;
  border: 1px solid #31B0D5;
}
.pagination > li > a > input{
  width: 5vw;
}



