.event-list>.table>thead{
  background: rgba(39,55,91,0.9);
  color: white;
}
.event-list>.table>tbody>tr{
  position: relative;
  color: #457FBB;
  border-collapse:separate;
  border-spacing:10px;
  font-size: 0.65rem;
}
.event-list>.table>tbody>tr:hover{
  cursor: pointer;
  background:rgba(255,255,255,0.3);
}
.event-list>.table>tbody>tr>td{
  border: none;
}
/*.ui-scrollpanel-wrapper {
  background: transparent;
  border: none; !*控制滚动轴背景色*!
}
.ui-scrollpanel-bar {
  background-color: transparent;
  !*background: none;*!
  opacity: 1;
  transition: background-color .3s;
}
.ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}*/
