<p-scrollPanel [style]="{width: width, height: height}" style="background: rgba(32,36,45,0.5)" styleClass="event-list">
  <div class="event-list">
    <table class="table">
      <thead>
      <tr>
        <td>时间</td>
        <td>事件类型</td>
        <td>事件描述</td>
        <td>状态</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of option" style="color: #00ECF1" (click)="eventClick(item)">
        <td>{{item?.occurTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{item?.eventCategoryName}}</td>
        <td>{{item?.eventDescripte}}</td>
        <td style="color:#CF5B56">{{item?.processState===2?'未处理':'已处理'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</p-scrollPanel>
