/**
 * Created by wangwenjun on 2018/2/22.
 * project name ...
 */
/*服务区样式*/
.main{
  position: relative;
}
.income-div{
  margin-bottom: 1vh;
}
.income-div>span{
  display: inline-block;
  height: 3vh;
  line-height: 3vh;
  font-size: 0.875rem;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-width: 11vw;
  padding-left: 0.5vw;
}
.title{
  height: 3vh;
  line-height: 3vh;
  font-size: 1rem;
  font-weight: 500;
  color: #5595D5;
  border-top: 1px solid #5595D5;
  border-bottom: 1px solid #5595D5;
  margin: 0 2vw;
  position: relative;
}
.title>span{
  position: absolute;
  border-style: solid;
}
.title>span:nth-child(1){
  border-width: 0.2vw 0.7vw 0.2vw 0.2vw;
  left: -0.6vw;
  top: -0.5vh;
  border-color: transparent #5595D5 transparent transparent ;
}
.title>span:nth-child(2){
  border-width: 0.2vw 0.7vw 0.2vw 0.2vw;
  left: -0.6vw;
  top: 2.4vh;
  border-color: transparent #5595D5 transparent transparent ;
}
.title>span:nth-child(3){
  border-width: 0.2vw 0.2vw 0.2vw  0.7vw;
  left: 18.9vw;
  top: -0.5vh;
  border-color: transparent transparent transparent #5595D5;
}
.title>span:nth-child(4){
  left: 18.9vw;
  top: 2.4vh;
  border-width: 0.2vw 0.2vw 0.2vw  0.7vw;
  border-color: transparent transparent transparent #5595D5;
}
/******************************左边*******************************/
/*3D柱状图*/
.left .accumulation{
  padding-top: 1vh;
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.left .accumulation-3Dbar{
  height: 23vh;
}
/*车辆监控*/
.left .vehicle{
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  padding-top: 1vh;
}
.left .vehicle-amount{
  height: 10vh;
}
.left .vehicle-pie-title{
  color: white;
}
.left .vehicle-pie-title.title{
  border: none;
}
/*移动端收入样式*/
.left .income.mobile{
  display: none;
}

/******************************中间*******************************/
.center .servicesMap{
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(170,170,170,0.2) inset;
  margin-bottom: 1vh;
  color: white;
}
/*上部分*/
.center .servicesMap-top{
  height: 18vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap ;
}
.center .servicesMap-top .shop-info{
  /*width: 30vw;*/
  height: 6vh;
  background: rgba(56,109,166,0.1);
  line-height: 2vh;
  border-right: 1px solid #1E2F39 ;
  border-bottom: 1px solid #1E2F39 ;
  font-size: 0.875rem;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
}
.center .servicesMap-top .shop-info:last-child{
  border-right: none;
}
.center .servicesMap-top .shop-info:hover {
  background: rgba(152,77,80,0.5);
  cursor: pointer;
}
/*中部分*/
.center .servicesMap-center{
  height: 6vh;
  line-height: 6vh;
  font-size: 1.2rem;
  font-weight: 500;
}
.center .servicesMap-center>span:nth-child(1){
  margin-right: 3vw;
}
.center .servicesMap-center>span:nth-child(3){
  margin-left: 3vw;
}
/*摄像头部分*/
.center .servicesMap-video{
  position: relative;
  height: 4vh;
  display: flex;
}
.center .first{
 justify-content: flex-end;
}
.center .servicesMap-video span{
  display: inline-block;
  height: 4vh;
  line-height: 4vh;
  padding: 0 1vw;
  margin-right: 0.5vw;
  border-radius: 3px;
  font-size: 1rem;
}
.center .servicesMap-video span:hover{
  cursor: pointer;
}
.center .second.servicesMap-video>span{
  margin-right: 0;
  margin-left: 0.5vw;
}
.center .servicesMap-video>.btn-group:nth-child(odd)>span{
  background: #376EA6;
}
.center .servicesMap-video>.btn-group:nth-child(even)>span{
  background: #376EA6;
}
.center .servicesMap-video>.btn-group>.dropdown-menu>li>a:hover{
  background: rgba(255,255,255,0.3);
}
/*下部分*/
.center .servicesMap-bottom{
  height: 18vh;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}
.center .servicesMap-bottom .shop-info{
  height: 6vh;
  background: rgba(56,109,166,0.1);
  line-height: 2vh;
  border-right: 1px solid #1E2F39 ;
  border-bottom: 1px solid #1E2F39 ;
  font-size: 0.875rem;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
}
.center .servicesMap-bottom .shop-info:last-child{
  border-right: none;
}
.center .servicesMap-bottom .shop-info:hover {
  background: rgba(152,77,80,0.5);
  cursor: pointer;
}
/*事件监控列表*/
.center .event-table{
  padding-top: 1vh;
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  overflow: hidden;
  padding-bottom: 5vh;
  font-size: 1rem;
}
/*未处理事件*/
.center .event-table-untreated-title {
  margin-bottom: 1vh;
}
/*事件上报*/
.event-table .event-table-untreated-title>span:nth-child(3),.event-table .event-table-processed-title>span:nth-child(3){
  left:unset;
  right: -8px;
}
.event-table .event-table-untreated-title>span:nth-child(4),.event-table .event-table-processed-title>span:nth-child(4){
  left:unset;
  right: -8px;
}
.center .event-table-processed-title{
  margin-bottom: 1vh;
}
.center .event-table-processed-type{
  padding-left: 1vw;
  min-height: 11vh;
}
.center .event-table-processed-type>span {
  display: inline-block;
  width:1.2rem;
  height: 9.5vh;
  font-size:0.5rem;
  background: #03A9F7;
  padding: 0.5vh 0;
  text-align: center;
  margin-right: 1vw;
}
.center .event-table-processed-type>span:hover {
  background: #0157A0;
  cursor: pointer;
}
.event-table-processed-btn{
  height: 18vh;
}
.event-table-processed-btn .btn-carport{
  margin-top: 1vh;
}
.center .event-table-processed-btn span{
  display: inline-block;
  /*width: 9.5vw;*/
  padding: 0.1vh 0.5vw;
  font-size: 0.5rem;
  border-radius: 3px;
  margin-right: 1vw;
  cursor: pointer;
}
.center .event-table-processed-btn p{
  margin-bottom: 0.5vh;
}
.center .event-table-processed-btn p:nth-child(2){
  /*margin-bottom: 0.5vh;*/
}
.center .event-table-processed-btn span:nth-child(1){
  background: #03A9F7;
}
.center .event-table-processed-btn .btn-toilet >p:nth-child(3)>span{
  background: #4590D4;
}
.center .event-table-processed-btn .btn-carport >p:nth-child(3)>span{
  background: #4590D4;
}
/******************************右边*******************************/
/*服务区基本信息*/
.right .information {
  padding-top: 1vh;
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  position: relative;
}
.right .information-title{
  margin-bottom: 1vh;
}
.right .information-info{
  height: 40vh;
  overflow: hidden;
  font-size: 0.8rem;
  margin-bottom: 1vh;
}
.right .information-info p>span{
  margin-top: 1vh;
}
.right .information-btn{
  height: 3vh;
  position: absolute;
  bottom: 1vh;
  width: 100%;
}
.right .information-btn span{
  display: inline-block;
  width: 5vw;
  padding: 0.5vh 0;
  background: #30A7AD;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.875rem;
}
.right .information-btn span:nth-child(2){
  margin-right: 1vw;
  margin-left: 1vw;
}
.income-manual-time .ui-calendar {
  min-width: 100%;
}
body .income-manual-time .ui-inputtext {
  color: white;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.11);
  border: none;
}
body .income-manual-time .ui-inputtext::placeholder{
  color: white;
}
/*收入监控*/
.right .income{
  padding-top: 1vh;
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.right .income-amount{
  height: 10vh;
}
.right .income-pie-title{
  color: white;
}
.right .income-pie-title.title{
  border: none;
}

/*虚拟滚动*/
.custom1 .ui-scrollpanel-wrapper {
  border: none; /*控制滚动轴背景色*/
}
.custom1 .ui-scrollpanel-bar {
  background-color: transparent;
  opacity: 1;
  transition: background-color .3s;
}
.custom1:hover .ui-scrollpanel-bar {
  /*background-color: red;*/
}
/****************************弹窗部分****************************/
/*弹窗基本样式控制*/
.bg-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(9,17,24,0.5);
  z-index: 9999;
}
.alert-window{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(39,52,64,0.8);
  z-index: 1;
}
.alert-window-header{
  height: 5vh;
  line-height: 5vh;
  background: #1a2128;
  text-align: center;
}
.alert-window-header span{
  margin-left: 10px;
  font-size: 1.625rem;
}
.alert-window-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-window-header .pull-right:hover{
  background: red;
}
.alert-window-content{
  /*overflow: auto;*/
  height: 55vh;
  font-size: 1rem;
}
.alert-window-content-table{
  position: relative;
}
.alert-window-content-table .toggle-btn{
  height: 5vh;
  line-height: 5vh;
}
.alert-window-content-table .toggle-btn>button{
  margin-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area{
  height: 5vh;
  line-height: 5vh;
  padding-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area>.service-date-types{
  color: #1A2128;
}
.alert-window-content-table .toggle-btn .toggle-btn-area>span{
  margin-left: 10px;
  display: inline-block;
  /*padding: 0.5vh 1vw;*/
  height: 3vh;
  line-height: 3vh;
  padding: 0 1.5vw;
  font-size: 0.875rem;
  border-radius: 3px;
  background: #1a2128;
}
.alert-window-content-table .toggle-btn .toggle-btn-area>span:hover{
  cursor: pointer;
}
.alert-window-content-table .content-table{
  height: 50vh;
}

/*数据导出弹窗基本样式*/
.bg-excel{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}
.alert-window-excel{
  position: absolute;
  top: 50%;
  margin-top: -10vh;
  left: 50%;
  margin-left: -10vw;
  width: 20vw;
  height: 20vh;
  background: #dddddd;
}
.alert-window-excel-header{
  position: relative;
  height: 3vh;
  line-height: 3vh;
  background: #242b31;
  padding-left: 5px;
  font-size: 0.875rem;
}
.alert-window-excel-header>.pull-right{
  height: 3vh;
  width: 3vh;
  text-align: center;
}
.alert-window-excel-header>.pull-right:hover{
  cursor: pointer;
  background:red;
}
.alert-window-excel-content{
  color: black;
  padding: 5px 5px;
}
.alert-window-excel-content-list {
  margin-bottom: 5px;
}
.alert-window-excel-content>input{
  color: black;
}
.alert-window-excel-footer{
  width: 100%;
  position: absolute;
  left:0;
  bottom: 2vh;
}
.alert-window-excel-footer>span{
  background: #000;
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
}
.alert-window-excel-footer>span:nth-child(1){
  margin-right: 1.2vw;
}

/*3D柱状图弹窗*/
.alert-3D-bar{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  /*background: #273440;*/
  background: rgba(39,52,64,0.8);
  z-index: 1;
  /*overflow: auto;*/
}
.alert-3D-bar-header{
  height: 5vh;
  line-height: 5vh;
  background: #1a2128;
  text-align: center;
}
.alert-3D-bar-header span{
  margin-left: 10px;
  font-size: 1.625rem;
}
.alert-3D-bar-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-3D-bar-header .pull-right:hover{
  background: red;
}
.toggle-btn-area{
  position: relative;
}
.bar3D-charts>.toggle-btn-area{
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
}
.bar3D-charts .toggle-btn-area-table{
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.875rem;
  position: absolute;
  border-radius: 3px;
  background: #1a2128;
  top: 8vh;
  left: 50%;
  transform: translateX(-70%);
  cursor: pointer;
}
.bar3D-charts .toggle-btn-area-date{
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.875rem;
  border-radius: 3px;
  position: absolute;
  background: #1a2128;
  top: 8vh;
  right: 4vw;
}
.toggle-btn-area-date:hover{
  position: relative;
  cursor: pointer;
}


/*商家视频*/
.vide-list{
  height: 64.8vh;
  border: 1px solid rgba(235,244,254, 0.5);
}

/*服务区店铺信息弹窗*/
.shop-msg-title,.shop-video-title,.shop-echart-title{
  height: 4vh;
  margin-top: 1vh;
  line-height: 4vh;
  font-size: 1rem;
}
.shop-msg-content>.hetong>span{
  display: inline-block;
  width: 5vw;
  padding: 0.3vh 0;
  background: #30A7AD;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.5rem;
  text-align: center;
}
.shop-echart-title>.table-export{
  display: inline-block;
  padding: 0 1vw;
  font-size: 0.875rem;
  position: absolute;
  border-radius: 3px;
  background: #1a2128;
  right: 2vw;
  line-height: 3vh;
  cursor: pointer;
}
.shop-msg-content>p{
  margin-bottom: 2vh;
}
.shop-video-content{
  position: relative;
  height: 48vh;
}
.shop-video-list{
  height: 4vh;
  line-height: 4vh;
  font-size: 1rem;
}
.shop-video-list>span:nth-child(1){
  font-weight: bold;
}
.shop-video-list>span:nth-child(1) ~ span{
  display: inline-block;
  padding: 0.3vh 1vw;
  background: #1A2128;
  margin-right: 0.5vw;
  cursor: pointer;
}
.shop-echart-content{

}

/*服务区视频弹窗*/
.alert-window .video-time{
  color: white;
  height: 65vh;
  border:1px solid #3B425C;
  margin-right: -20px;
  padding: 10px 10px;
}
.alert-window .video-time .btn{
  margin-top: 1vh;
}
.alert-window .video-play{
  height: 55vh;
  border:1px solid #3B425C;
}
.alert-window .video-event{
  height: 10vh;
  border:1px solid #3B425C;
  padding-top: 5vh;
}
.video-time-input{
  width: 100%;
  color: #000;
}
.video-time .btn {
  padding: 0;
}

/*服务区修改弹窗*/
.style-border>span{
  background: #1A2128;
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
}
/*服务区平面图弹窗*/
.services-plan-left{
  width: 20%;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 9999;
}
.services-plan{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 74.5vh;
  background-image: url(/assets/images/liti.jpg);
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.services-plan-right{
  width: 20%;
  height: 75vh;
  position: absolute;
  top: 0;
  right: 1vw;
  z-index: 9999;
}
.service-date-info-top{
  position: relative;
  height: 22vh;
  background: rgba(5,46,74,0.4);
  margin-top: 2.2vh;
  border-top: 1px solid #69FFFF;
  box-shadow: 0 0 20px #69FFFF;
}
.service-date-info-bottom{
  position: relative;
  height: 22vh;
  background: rgba(5,46,74,0.4);
  margin-top: 2.2vh;
  border-top: 1px solid #69FFFF;
  box-shadow: 0 0 20px #69FFFF;
}
.service-date-info-top::before{
  content:"";
  position:absolute;
  right: -17px;
  top: 6px;
  width:20px;
  height: 1px;
  box-sizing:border-box;
  border-bottom:1px solid #69FFFF;
  transform-origin:bottom center;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
.service-date-info-bottom::before{
  content:"";
  position:absolute;
  left: -17px;
  top: 6px;
  width:20px;
  height: 1px;
  box-sizing:border-box;
  border-bottom:1px solid #69FFFF;
  transform-origin:bottom center;
  /*transform:rotateZ(45deg) scale(1.414);*/
  /*animation:slash 5s infinite ease;*/
  transform:rotate(135deg);
  -o-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
}

/*****************************bootstrap样式覆盖****************************/
/*视频下拉菜单样式覆盖*/
.servicesMap-video .dropdown-menu{
  top:95%;
}

/*表单样式覆盖*/
.form-horizontal{
  margin-top: 15px;
}
.form-horizontal .form-control{
  background: rgba(255,255,255,0.11);
  border: none;
  color: white;
}
.list-group>a{
  color: #87FFFF;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/***********************************primeng样式覆盖*****************************/
/*虚拟滚动*/
.service-statistics .ui-scrollpanel-wrapper {
  background: transparent;
  border: none; /*控制滚动轴背景色*/
}
.service-statistics .ui-scrollpanel-bar {
  background-color: transparent;
  opacity: 1;
  transition: background-color .3s;
}
.service-statistics .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}
.bg-box .shop-video-list .ui-dropdown{
  background: rgba(26,33,40,0.8);
  border: none;
}
.bg-box .shop-video-list .ui-dropdown-panel {
  border: none;
  background-color: rgba(26,33,40,0.8);
  min-width: 200px;
}
.bg-box .shop-video-list .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item{
  color: white
}
.bg-box .shop-video-list .ui-inputtext{
  background: rgba(26,33,40,0.8);
  color: white;
  padding-bottom: 0;
  padding-top: 0;
}
.bg-box .shop-video-list .ui-dropdown-panel .ui-dropdown-items-wrapper {
  max-height: 150px !important;
}
.bg-box .shop-video-list .ui-dropdown .ui-dropdown-trigger{
  background: rgba(26,33,40,0.8);
}

/***********************媒体查询***********************/
@media screen and (max-width: 992px) {
  .main{
    margin-bottom: 8vh;
  }
  .title{
    font-size: 16px;
  }
  .title>span{
    display: none;
  }

  .center .map{
    display: none;
  }

  .left .vehicle-amount-number>p>span{
    width: 10vw;
    font-size: 16px;
    margin-right: 1vw;
  }
  .left .vehicle-amount-number>p>small{
    font-size: 16px;
    color: white;
  }

  .center .servicesMap-top .shop-info{
    font-size: 10px;
  }
  .center .servicesMap-bottom .shop-info{
    font-size: 10px;
  }
  .center .servicesMap-center{
    font-size: 14px;
  }
  .center .servicesMap-video>span{

    height: 4vh;
    line-height: 4vh;
    margin-right: 2vw;
    font-size: 12px;
  }
  .center .event-table{
    min-height: 71vh;
    box-shadow: none;
    overflow: visible;
  }

  .center .event-table .table-body tr{
    font-size: 14px;
  }
  .center .event-table-untreated .table-header td{
    font-size: 12px;
    color: white;
  }
  .center .event-table-untreated .table-body td{
    font-size: 12px;
  }

  .center .event-table-service,.event-table-office,.event-table-person{
    padding-top: 1vh;
    height: 37vh;
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
    margin-bottom: 1vh;
  }
  .center .event-table-untreated{
    padding-top: 1vh;
    height: 34vh;
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
    margin-bottom: 1vh;
  }
  .center .event-table-processed{
    padding-top: 1vh;
    height: 34vh;
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
    margin-bottom: 1vh;
  }
  .center .event-table-processed-btn{
    padding: 0 0.5vw;
  }
  .center .event-table-processed-type{
    margin-bottom: 1vh;
  }
  .center .event-table-processed-type>span {
    display: inline-block;
    width:18px;
    height: 10vh;
    font-size:12px;
    background: #03A9F7;
    line-height: 3vh;
    text-align: center;
    margin-right: 2vw;
  }
  .center .event-table-processed-btn span {
    width: 45.5vw;
    font-size:12px;
  }
  .center .event-table-processed-btn .btn-toilet>p:nth-child(1){
    font-size: 14px;
  }
  .center .event-table-processed-btn .btn-carport>p:nth-child(1){
    font-size: 14px;
  }

  .right .crosswise-btn>span{
    font-size: 16px;
  }
  .right .income-amount-number>p>span{
    width: 10vw;
    font-size: 16px;
    margin-right: 1vw;
  }
  .right .income-amount-number>p>small{
    font-size: 16px;
    color: white;
  }

  .right .information-info{
    font-size: 12px;
  }
  .right .information-btn span{
    display: inline-block;
    width: 44vw;
    padding: 0.5vh 0;
    background: #30A7AD;
    border-radius: 3px;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
  }
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none;
  }
}


