<div class="service-leader">
  <div class="row">
    <div class="service-leader-left">
      <div class="col-lg-3 col-md-3">
        <app-service-3d [personAmount]="timeData?.provincePassengerFlowRankList"></app-service-3d>
        <!--车辆统计-->
        <app-service-car
          [serviceId]="serviceId"
          [serviceName]="serviceName"
          [data]="timeData?.realTimeVehicleFlow">
        </app-service-car>
      </div>
    </div>
    <div class="service-leader-center">
      <div class="col-lg-6 col-md-6">
        <div class="video-shop">
          <!--上行数据-->
          <app-service-upattr
            [serviceInfo]="serviceInfo"
            [TopShopData]="timeData?.operatingIncome.upstreamStoreIncomeList"
            [topVideoList]="fixedData?.upstreamCameraGroupList"
          ></app-service-upattr>
          <!--方向指引-->
          <div class="video-shop-center text-center">
            <!--上行-->
            <span>{{serviceInfo?.downAttributeValues?.source}}</span>
            <img src="assets/images/jiantou.png" alt="" style="height: 3vh;width: auto;">
            <!--下行-->
            <span>{{serviceInfo?.upAttributeValues?.source}}</span>
          </div>
          <!--下行数据-->
          <app-service-downattr
            [serviceInfo]="serviceInfo"
            [downShopData]="timeData?.operatingIncome.downStoreIncomeList"
            [downVideoList]="fixedData?.downCameraGroupList"
          ></app-service-downattr>
        </div>
        <div class="echart">
          <div class="col-lg-3-6 col-md-6">
            <div class="echart-bar">
              <app-echarts-area-chart
                [height]="'height: 34vh;'"
                [option]="timeData?.dataTrend"
                [title]="top10TypeTitle[top10TypeName][0]"
                [color]="top10TypeTitle[top10TypeName][1]">
              </app-echarts-area-chart>
            </div>
          </div>
          <div class="col-lg-3-6 col-md-6">
            <div class="echart-circle">
              <app-echarts-line-move
                [height]="'height: 34vh;'"
                [option]="timeData?.wedataTrend"
                [title]="eleWaterTile['electricr']">
              </app-echarts-line-move>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-leader-right">
      <div class="col-lg-3 col-md-3">
        <!--服务区基本信息-->
        <app-service-info
          [serviceName]="serviceName"
          [serviceInfo]="fixedData?.serviceAreaDetailedInfo"
        ></app-service-info>
        <!--收入统计-->
        <app-service-income
          [serviceId]="serviceId"
          [serviceName]="serviceName"
          [data]="timeData?.storeTypeIncomePieChart">
        </app-service-income>
      </div>
    </div>
  </div>
</div>
