<div class="province-income">
  <!--实时收入-->
  <div class="province-income-amount">
    <app-title-one [height]="'3vh'" [option]="{title: provinceName + '高速服务区实时收入'}"></app-title-one>
    <!--<app-number-show [option]="incomeAmount"></app-number-show>-->
    <h2 [countUp]="incomeNumber" [options]="incomeNumberOption" style="text-align: center;
    letter-spacing: 5px;
    font-size: 2rem;
    color: #05eff1;
    font-weight: 900;">0</h2>
  </div>
  <!--收入占比-->
  <div class="province-income-pie">
    <div class="province-income-title title text-center">
      <p>{{provinceName}}高速服务区实时收入</p>
    </div>
    <!--<app-echart-pie [option]="optionsIncomeModel" [height]="'20vh'" (pieClick)="incomeClick($event)"></app-echart-pie>-->
    <app-echarts-ring-pie [option]="optionsIncomeModel" [height]="'20vh'" (pieClick)="incomeClick($event)"></app-echarts-ring-pie>
  </div>
  <!--弹窗-->
  <div class="bg-box" *ngIf="alertIncomeShow">
    <div class="alert-window">
      <div class="alert-window-header">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <span>{{alertIncomeTitle}}收入分布统计</span>
            <div class="pull-right" (click)="closeIncomeShow()">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="alert-window-content">
        <div class="row">
          <div class="col-ld-6 col-md-6 echart-btn">
            <app-echart-pie [option]="optionsIncomeTypes" [height]="'55vh'" (pieClick)="optionsIncomePieClick($event)"></app-echart-pie>
          </div>
          <div class="col-ld-6 col-md-6">
            <div class="alert-window-content-table">
              <div class="toggle-btn" (click)="IncomeBtnClick($event)">
                <button class="btn btn-info" [ngStyle]="{'background':alertIncomeTitle === '总收入'?'black': ''}">总收入</button>
                <button class="btn btn-danger" [ngStyle]="{'background':alertIncomeTitle === '小吃'?'black': ''}">小吃</button>
                <button class="btn btn-primary" [ngStyle]="{'background':alertIncomeTitle === '中式快餐'?'black': ''}">中式快餐</button>
                <button class="btn btn-success" [ngStyle]="{'background':alertIncomeTitle === '西式快餐'?'black': ''}">西式快餐</button>
                <button class="btn btn-info" [ngStyle]="{'background':alertIncomeTitle === '商超'?'black': ''}">商超</button>
                <button class="btn btn-warning" [ngStyle]="{'background':alertIncomeTitle === '住宿'?'black': ''}">住宿</button>
                <button class="btn btn-primary" [ngStyle]="{'background':alertIncomeTitle === '汽修'?'black': ''}">汽修</button>
                <div class="toggle-btn-area pull-right" style="">
                  <span (click)="incomeExcelShow = true">表格导出</span>
                </div>
              </div>
              <div class="content-table">
                <p-scrollPanel [style]="{width: '100%', height: '40vh'}">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>排名</th>
                      <th [ngStyle]="{'background':alertIncomeTitle === '总收入'?'black': ''}">总收入</th>
                      <th *ngIf="!(alertIncomeTitle === '总收入')" [ngStyle]="{'background':!(alertIncomeTitle === '总收入')?'black': ''}">{{alertIncomeTitle}}收入(元）</th>
                      <th>服务区</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of IncomeTableData?.contents;let i=index">
                      <td>{{i+1}}</td>
                      <td [ngStyle]="{'background':alertIncomeTitle === '总收入'?'black': ''}">{{item?.totalRevenue}}</td>
                      <td *ngIf="!(alertIncomeTitle === '总收入')" [ngStyle]="{'background':!(alertIncomeTitle === '总收入')?'black': ''}">{{item?.revenue}}</td>
                      <td class="content-table-income" (click)="IncomeTableClick(item)">{{item?.serviceArea.serviceName}}</td>
                    </tr>
                    </tbody>
                  </table>
                </p-scrollPanel>
              </div>
              <app-paging [option]="{total: IncomeTableData?.totalRecord,row: 10}" (pageClick)="incomeDistributionPaging($event)"></app-paging>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-excel" *ngIf="incomeExcelShow">
        <div class="alert-window-excel">
          <div class="alert-window-excel-header">
            <span>收入数据表格导出</span>
            <div class="pull-right" (click)="incomeExcelShow = false;">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
          <div class="alert-window-excel-content">
            <div class="alert-window-excel-content-list">
              <label>请选择开始时间：</label>
              <p-calendar placeholder="请点击选择时间......" [locale]="esDate" [(ngModel)]="incomeStartTime" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yymmdd"  yearRange="2017:2030"></p-calendar>
            </div>
            <div class="alert-window-excel-content-list">
              <label>请选择结束时间：</label>
              <p-calendar placeholder="请点击选择时间......" [locale]="esDate" [(ngModel)]="incomeEndTime" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yymmdd"  yearRange="2017:2030"></p-calendar>
            </div>
          </div>
          <div class="alert-window-excel-footer text-center">
            <span (click)="incomeExportClick();incomeExcelShow = false;">确认导出</span>
            <span (click)="incomeExcelShow = false;">取消导出</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
