.vehicle-amount-number{
  padding-top: 1vh;
}
.vehicle-amount-number>p>span{
  display: inline-block;
  width: 1.6vw;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.125rem;
  text-align: center;
  margin-right: 0.3vw;
  background: #5095E0;
  /*background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);*/
}
.vehicle-amount-number>p>small{
  font-size: 1rem;
  color: white;
}
