/******************************头部****************************/
.header{
  height: 10vh;
}
.header-logo{
  width: 26.3vw;
  height: 8vh;
  margin-top: 1vh;
  margin-left: 1vw;
  line-height: 8vh;
  padding-left: 1vw;
  display: inline-block;
  vertical-align:text-top;
  font-size: 1.375rem;
  font-weight: bolder;
  letter-spacing: 0.2vw;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image: url(/assets/images/logobg.png);
}
.header-logo>span:nth-child(2) {
  color: #5096DF;
}

.header-title{
  width: 47.4vw;
  height: 8vh;
  margin-top: 1vh;
  line-height: 8vh;
  display: inline-block;
  vertical-align:text-top;
  padding-right: 1vw;
  padding-left: 1vw;
}
.header-title span{
  font-weight: 500;
  font-size: 1.625rem;
  letter-spacing: 0.15vw;
}
.header-title>div>input{
  background:rgba(242,242,242,0.1);
  height: 3.5vh;
  width: 18vw;
  vertical-align: middle;
  color: white;
  border: none;
  border-radius: 5px;
}
.header-title>div>input::placeholder{
  color: white;
  padding-left: 0.5vw;
}
.header-title>div>label{
 font-size: 1.2rem;
}

.header-admin{
  position: relative;
  width: 23vw;
  height: 10vh;
  display: inline-block;
  vertical-align:text-top;
  z-index: 999;
}
.header-admin-img {
  width: 2.6vw;
  height: 2.6vw;
  position: absolute;
  right: 1.55vw;
  top: 0.8vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2);
  cursor: pointer;
}
.header-admin-time{
  width: 23vw;
  height: 5vh;
  font-size: 1rem;
  line-height: 3.5vh;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image: url(/assets/images/adminbg.png);
}
.header-admin-flow{
  cursor: pointer;
}
.header-admin-flow>div,span{
  vertical-align:middle;
}
.header-admin-flow>div{
  min-width: 5vw;
  height: 4vh;
  line-height: 4vh;
  font-size: 1rem;
  padding: 0 0.6vw;
  display: inline-block;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
}
.header-admin-flow>span:nth-child(1),.header-admin-flow>span:nth-child(3) {
  font-size: 0.875rem;
}
.header-admin-flow>div>span{
  font-size: 1.65rem;
  font-weight: 500;
  letter-spacing: 0.1vw;
}
.person-number{
  text-align: center;
  letter-spacing: 5px;
  color: #05eff1;
  font-weight: 600;
}
/*服务区客流弹窗*/
.vehicle-amount{
  padding-top: 1vh;
}
.vehicle-amount>p>b{
  font-size: 1.1rem;
}
/*.vehicle-amount>p>span{
  display: inline-block;
  width: 1.6vw;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.125rem;
  text-align: center;
  margin-right: 0.3vw;
  background: #5095E0;
}*/
/*
.vehicle-amount>p>small{
  font-size: 1rem;
  color: white;
}
*/

.vehicle-distribute{
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
}
.vehicle-distribute .person-list{
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vehicle-distribute .person-list>p:first-child{
  display: inline-block;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background: white;
  color: #000;
  line-height: 5vh;
  font-size: 1.5rem;
}
.vehicle-distribute .person-list>p:last-child{
  color: #4E96E0;
  font-size: 1.2rem;
}

/*省市级客流弹窗*/
.person-flow{
  width: 100%;
  height: 68vh;
}
.citys{
  padding-left: 3vw;
}
.saerch-list{
  position: absolute;
  background: rgb(25,49,77);
  top:6.5vh;
  left:0;
  width: 18vw;
  z-index: 1;
  text-align: left;
  padding-left: 0;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.saerch-list-li{
  list-style: none;
  height: 3vh;
  line-height: 3vh;
  cursor: pointer;
  padding-left: 10px;
}
.saerch-list-li:hover{
  background: #87FFFF;
  color: black;
}
