/**
 * Created by wangwenjun on 2018/2/22.
 * project name ...
 */
.main{
  position: relative;
}
.title{
  height: 3vh;
  line-height: 3vh;
  font-size: 1rem;
  font-weight: 500;
  color: #5595D5;
  border-top: 1px solid #5595D5;
  border-bottom: 1px solid #5595D5;
  margin: 0 2vw;
  position: relative;
}
.title>span{
  position: absolute;
  border-style: solid;
}
.title>span:nth-child(1){
  border-width: 0.2vw 0.7vw 0.2vw 0.2vw;
  left: -0.6vw;
  top: -0.5vh;
  border-color: transparent #5595D5 transparent transparent ;
}
.title>span:nth-child(2){
  border-width: 0.2vw 0.7vw 0.2vw 0.2vw;
  left: -0.6vw;
  top: 2.4vh;
  border-color: transparent #5595D5 transparent transparent ;
}
.title>span:nth-child(3){
  border-width: 0.2vw 0.2vw 0.2vw  0.7vw;
  left: 18.9vw;
  top: -0.5vh;
  border-color: transparent transparent transparent #5595D5;
}
.title>span:nth-child(4){
  left: 18.9vw;
  top: 2.4vh;
  border-width: 0.2vw 0.2vw 0.2vw  0.7vw;
  border-color: transparent transparent transparent #5595D5;
}
/****************************左边****************************/
/*3D柱状图*/
.left .accumulation{
  padding-top: 1vh;
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
.left .accumulation-title{}
.left .accumulation-3Dbar{
  height: 23vh;
}

/*车辆统计*/
.left .vehicle{
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  padding-top: 1vh;
}
/*日车流量实时统计*/
.left .vehicle-amount{
  height: 10vh;
}
.left .vehicle-amount-title{}
.left .vehicle-amount-number{
  padding-top: 1vh;
}
.left .vehicle-amount-number>p>span{
  display: inline-block;
  width: 1.6vw;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.125rem;
  text-align: center;
  margin-right: 0.3vw;
  background: #5095E0;
  /*background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);*/
}
.left .vehicle-amount-number>p>small{
  font-size: 1rem;
  color: white;
}
/*车型日分布占比*/
.left .vehicle-pie{
  height: 23vh;
}
.left .vehicle-pie-title{
  color: white;
}
.left .vehicle-pie-title.title{
  border: none;
}
.left .vehicle-pie-chart{
  height: 20vh;
}

/*移动端收入样式*/
.left .income.mobile{
  display: none;
}

/****************************中部****************************/
.center .map {
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2);
  margin-bottom: 1vh;
}
/*地图区域选择*/
.center .map-tab{
  height: 5vh;
  border:1px solid #3B425C;
  line-height: 5vh;
  padding-left: 5px;
  font-weight: bolder;
  position: relative;
}
.center .map-tab .location{
  display: inline-block;
}
.center .map-tab .location:hover{
  cursor: pointer;
}
.center .map-tab .select{
  display: inline-block;
  margin-left: 15px;
  color: white;
}
.center .map-tab .select:hover{
  cursor: pointer;
}
.center .select-list-province{
  background: rgba(18,51,76,0.8);
  padding-left: 0;
  /*padding-right: 40px;*/
  color: #87FFFF;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: 1;
}
.center .select-list-city{
  background: rgba(18,51,76,0.8);
  padding-left: 0;
  border-left: 1px solid rgba(135,255,255,0.6);
  /*padding-right: 40px;*/
  color: #87FFFF;
  position: absolute;
  top: 103px;
  left: 121px;
  z-index: 1;
}
.center .select-list-province>li,.center.select-list-city>li{
  list-style: none;
  padding: 0 40px;
  text-align: center;
}
.center .select-list-province>li:hover,.center.select-list-city>li:hover{
  cursor: pointer;
  background: rgba(244,50,173,0.5);
}

/*地图区域选择*/
.center .map-bmap{
  height: 50vh;
}

/*事件列表*/
.center .event-table{
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  overflow: hidden;
  padding: 1vh 0.5vw;
}
/*服务区事件监控*/
.center .event-table-service{
  padding-right: 0;
  padding-left: 0;
}
.center .event-table-service-title{
  margin-bottom: 1vh;
}
.center .event-table-service-title.title>span:nth-child(3){
  left: 7.5vw;
  top: -0.5vh;
}
.center .event-table-service-title.title>span:nth-child(4){
  left: 7.5vw;
  top: 2.4vh;
}
/*办公事件监控*/
.center .event-table-office{
  /* padding-right: 0;
   padding-left: 0;*/
}
.center .event-table-office-title{
  margin-bottom: 1vh;
}
.center .event-table-office-title.title>span:nth-child(3){
  left: 17.5vw;
  top: -0.5vh;
}
.center .event-table-office-title.title>span:nth-child(4){
  left: 17.5vw;
  top: 2.4vh;
}
/*个人信息处理*/
.center .event-table-person{
  padding-right: 0;
  padding-left: 0;
}
.center .event-table-person-title{
  margin-bottom: 1vh;
}
.center .event-table-person-title.title>span:nth-child(3){
  left: 7.5vw;
  top: -0.5vh;
}
.center .event-table-person-title.title>span:nth-child(4){
  left: 7.5vw;
  top: 2.4vh;
}
/*表格公共样式*/
.center .event-table tr td{
  border: none;
  /*white-space: nowrap;*/
  /*overflow: hidden;
  text-overflow: ellipsis;*/

}
.center .event-table tr:hover{
  cursor: pointer;
}
.center .event-table .table-header{
  height: 3vh;
  background: rgba(39,55,91,0.9);
  color: white;
}
.center .event-table .table-body{
  margin-top: 5px;
  background: rgba(32,36,45,0.9);
}
.center .event-table .table-body tr{
  /*border-bottom: 1px solid #0593B5;*/
  position: relative;
  color: #457FBB;
  border-collapse:separate;
  border-spacing:10px;
  font-size: 0.5rem;
}
.center .event-table .table-body tr:hover{
  background:rgba(255,255,255,0.3);
  color: white;
}

.center .event-table .table-body tr span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.center .event-table .table-body tr>.hot{
  position: relative;
}
.center .event-table .table-body tr>.hot>span{
  position: absolute;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 12px;
  top: 7px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: red;
  line-height: 20px;
}

/****************************右边****************************/
/*市级数据服务区业态前十排名柱状图*/
.right .crosswise{
  padding-top: 2vh;
  height: 50vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
  position: relative;
}
.right .crosswise-title{}
.right .crosswise-btn{
  margin-top: 1vh;
  height: 4vh;
}
.right .crosswise-btn>span{
  display: inline-block;
  height: 3vh;
  padding: 0.2vh 0.5vw;
  font-size: 0.7rem;
  line-height: 3vh;
  margin-right: 0.5vw;
  border-radius: 3px;
}
.right .crosswise-btn>span:hover{
  cursor: pointer;
}
.right .crosswise-bar{
  height: 40vh;
}

/*收入统计*/
.right .income{
  padding-top: 1vh;
  height: 34vh;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
  margin-bottom: 1vh;
}
/*实时首收入统计*/
.right .income-amount{
  height: 10vh;
}
.right .income-amount-title{}
.income-amount-number{
  padding-top: 1vh;
}
.right .income-amount-number>p>span{
  display: inline-block;
  width: 1.6vw;
  height: 5vh;
  line-height: 5vh;
  font-size: 1.125rem;
  text-align: center;
  margin-right: 0.3vw;
  background: #5095E0;
  /*background: -moz-linear-gradient(top, #01071D 0%, #0A4D84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#01071D), color-stop(100%,#0A4D84));
  background: -webkit-linear-gradient(top, #01071D 50%,#0A4D84 100%);
  background: -o-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: -ms-linear-gradient(top, #01071D 0%,#0A4D84 100%);
  background: linear-gradient(to bottom, #01071D 0%,#0A4D84 100%);*/
}
.right .income-amount-number>p>small{
  font-size: 1rem;
  color: white;
}
/*服务器收入实时统计*/
.right .income-pie{
  height: 23vh;
}
.right .income-pie-title{
  color: white;
}
.right .income-pie-title.title{
  border: none;
}
.right .income-pie-chart{
  height: 20vh;
}

/****************************弹窗部分****************************/
/*弹窗基本样式控制*/
.bg-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #091118;
  background: rgba(9,17,24,0.5);
  z-index: 2;
}
.alert-window{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  background: rgba(39,52,64,0.8);
  z-index: 1;
}
.alert-window-header{
  height: 5vh;
  line-height: 5vh;
  background: #1a2128;
  text-align: center;
}
.alert-window-header span{
  margin-left: 10px;
  font-size: 1.625rem;
}
.alert-window-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-window-header .pull-right:hover{
  background: red;
}
.alert-window-content{
  height: 75vh;
  font-size: 1rem;
}
.alert-window-content-table{
  position: relative;
  height: 55vh;
}
.alert-window-content-table .toggle-btn{
  height: 5vh;
  line-height: 5vh;
}
.alert-window-content-table .toggle-btn>button{
  margin-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area{
  height: 5vh;
  line-height: 5vh;
  padding-right: 10px;
}
.alert-window-content-table .toggle-btn .toggle-btn-area>span{
  margin-left: 10px;
  display: inline-block;
  /*padding: 0.5vh 1vw;*/
  height: 3vh;
  line-height: 3vh;
  padding: 0 1.5vw;
  font-size: 0.875rem;
  border-radius: 3px;
  background: #1a2128;
}
.alert-window-content-table .toggle-btn .toggle-btn-area>span:hover{
  cursor: pointer;
}
.alert-window-content-table .content-table{
  height: 50vh;
}

/*数据导出弹窗基本样式*/
.bg-excel{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}
.alert-window-excel{
  position: absolute;
  top: 50%;
  margin-top: -10vh;
  left: 50%;
  margin-left: -10vw;
  width: 20vw;
  height: 20vh;
  background: #dddddd;
}
.alert-window-excel-header{
  position: relative;
  height: 3vh;
  line-height: 3vh;
  background: #242b31;
  padding-left: 5px;
  font-size: 0.875rem;
}
.alert-window-excel-header>.pull-right{
  height: 3vh;
  width: 3vh;
  text-align: center;
}
.alert-window-excel-header>.pull-right:hover{
  cursor: pointer;
  background:red;
}
.alert-window-excel-content{
  color: black;
  padding: 5px 5px;
}
.alert-window-excel-content-list {
  margin-bottom: 5px;
}
.alert-window-excel-content>input{
  color: black;
}
.alert-window-excel-footer{
  width: 100%;
  position: absolute;
  left:0;
  bottom: 2vh;
}
.alert-window-excel-footer>span{
  background: #000;
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
}
.alert-window-excel-footer>span:nth-child(1){
  margin-right: 1.2vw;
}

/*3D柱状图弹窗*/
.alert-3D-bar{
  position: absolute;
  width: 80vw;
  height:60vh;
  left: 50%;
  margin-left: -40vw;
  top: 50%;
  margin-top: -30vh;
  /*background: #273440;*/
  background: rgba(39,52,64,0.8);
  z-index: 1;
  /*overflow: auto;*/
}
.alert-3D-bar-header{
  height: 5vh;
  line-height: 5vh;
  background: #1a2128;
  text-align: center;
}
.alert-3D-bar-header span{
  margin-left: 10px;
  font-size: 1.625rem;
}
.alert-3D-bar-header .pull-right{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  text-align: center;
}
.alert-3D-bar-header .pull-right:hover{
  background: red;
}
.toggle-btn-area{
  position: relative;
}
.bar3D-charts>.toggle-btn-area{
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
}
.bar3D-charts .toggle-btn-area-table{
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.875rem;
  position: absolute;
  border-radius: 3px;
  background: #1a2128;
  top: 8vh;
  left: 50%;
  transform: translateX(-70%);
}
.bar3D-charts .toggle-btn-area-date{
  display: inline-block;
  padding: 0.5vh 1vw;
  font-size: 0.875rem;
  border-radius: 3px;
  position: absolute;
  background: #1a2128;
  top: 8vh;
  right: 4vw;
}
.toggle-btn-area-table:hover,.toggle-btn-area-date:hover{
  cursor: pointer;
}
.alert-3D-bar-bar{
  height: 55vh;
}
.alert-3D-bar-pie{
  height: 55vh;
}
.echart-btn{
  position: relative;
}
.echart-btn > .btn{
  position: absolute;
  top: 7px;
  left: 24px;
  z-index: 999;
}

/*弹窗表格公共样式*/
.content-table-car:hover{
  cursor: pointer;
}
.content-table{
  height: auto;
  padding-top: 1vh;
  color: #87FFFF;
  font-size: 0.875rem;
}
.content-table table{
  padding-right: 5px;
}
.content-table-income:hover{
  cursor: pointer;
}

/**************************公共样式***********************/
/*动画*/
@keyframes slash{
  0%{
    transform:rotateZ(0deg) scale(1);
  }
  30%{
    transform:rotateZ(45deg) scale(1);
  }
  60%{
    transform:rotateZ(45deg) scale(1.414);
  }
  100%{
    transform:rotateZ(45deg) scale(1.414);
  }
}
/*字体颜色*/
.text-c1{
  color: #4887CA;
}
.text-c2{
  color: #FF37AC;
}
.text-c3{
  color: white;
}

/*微调*/
.text-warning{
  margin-right: 10px;
}
/*字体图标*/
.fa-long-arrow-up{
  color: red;
}

/*百度地图*/
.anchorBL{
  display:none;
}

/*****************************bootstrap样式覆盖****************************/
p {
  margin: 0;
}
/*分页按钮样式*/
.bottom-pagination {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
}
.pagination > li > a {
  background-color: #1A2128;
  margin-right: 1vw;
  font-size: 0.875rem;
  color: white;
  cursor: pointer;
  border: 1px solid #1A2128;
}
.pagination > li > a:hover{
  background-color: #1A2128;
  border: 1px solid #1A2128;
}
.pagination > li > a > input{
  width: 5vw;
}
/***********************媒体查询***********************/
@media screen and (max-width: 992px) {
  .main{
    margin-bottom: 8vh;
  }
  .title{
    font-size: 16px;
  }
  .title>span{
    display: none;
  }

  .center .map{
    display: none;
  }

  .left .vehicle-amount-number>p>span{
    width: 10vw;
    font-size: 16px;
    margin-right: 1vw;
  }
  .left .vehicle-amount-number>p>small{
    font-size: 16px;
    color: white;
  }

  .center .event-table{
    min-height: 120vh;
    box-shadow: none;
    overflow: visible;
  }
  .event-table-service,.event-table-office,.event-table-person{
    padding-top: 1vh;
    height: 37vh;
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.2) inset;
    margin-bottom: 1vh;
  }
  .center .event-table .table-body tr{
    font-size: 12px;
  }

  .right .crosswise-btn>span{
    font-size: 16px;
  }
  .right .income-amount-number>p>span{
    width: 10vw;
    font-size: 16px;
    margin-right: 1vw;
  }
  .right .income-amount-number>p>small{
    font-size: 16px;
    color: white;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
  }
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none;
  }
}
