<!--上行-->
<div class="servicesMap-top">
  <div class="shop-info text-center" *ngFor="let item of TopShopData" [title]="item?.storeName">
    <p>
      <i [class]="iconImages[item?.categoryCode - 1]" aria-hidden="true"></i>
      <span>{{item?.storeName}}</span>
    </p>
    <p>{{item?.value}}元</p>
  </div>
</div>
<div class="first servicesMap-video">
  <div
    class="btn-group"
    *ngFor="let item of topVideoList;let i = index" [ngClass]="{'open':videoOpen[i]}"
    (mouseover)="videoListMouseover(item?.cameraList,i)"
    (mouseout)="videoListMouseout(i)">
    <span>{{item?.groupName}}</span>
    <ul class="dropdown-menu" style="background-color: rgba(27,29,41,0.8)">
      <li *ngFor="let childItem of videoList" (click)="openVideo(childItem)">
        <a href="javascript:" style="color: white">
          <i
            [ngClass]="{
            'icon-Hemispherical-camera': childItem?.cameraType == 2,
             'icon--ball-camera': childItem?.cameraType == 1,
              'icon-camera-one': childItem?.cameraType == 3}"
            aria-hidden="true">
          </i>
          {{childItem?.cameraName}}
        </a>
      </li>
    </ul>
  </div>
</div>
<!--服务区公共视频监控弹窗-->
<div class="bg-box" *ngIf="videoShow">
  <div class="alert-window" style="height:70vh; margin-top: -35vh;width:60vw; margin-left:-30vw">
    <div class="alert-window-header">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <span>{{videoTitle}}</span>
          <div class="pull-right" (click)="closeVideo()">
            <i class="fa fa-window-close " aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="alert-window-content">
      <div class="row">
        <div class="col-ld-12 col-md-12">
          <div class="video-play" [ngStyle]="{'height': '65vh'}" id="publicVideo"></div>
        </div>
      </div>
    </div>
  </div>
</div>
