<div class="service-manger">
  <div class="row">
    <div class="service-manger-left">
      <div class="col-lg-3 col-md-3">
        <div class="event-list">
          <app-warning-event-list></app-warning-event-list>
        </div>
      </div>
    </div>
    <div class="service-leader-center">
      <div class="col-lg-6 col-md-6">
        <div class="video">
          <div class="video-list-top">
            <app-service-manger-upattr
              [publicTopVideoGroup]="publicTopVideoGroup">
            </app-service-manger-upattr>
          </div>
          <div class="video-list-window">
            <app-service-manger-video [videoList]="videoList"></app-service-manger-video>
          </div>
          <div class="video-list-bottom">
            <app-service-manger-upattr
              [publicTopVideoGroup]="publicBottomVideoGroup">
            </app-service-manger-upattr>
          </div>
        </div>
        <div class="echart">
          <div class="col-lg-6 col-md-6">
            <div class="echart-circle">
              <div class="echart-circle-a" style="height: 30vh">
                <app-echart-pie-circle-a [title]="'服务区突发事件处理概况'"></app-echart-pie-circle-a>
              </div>
              <div class="echart-circle-b" style="height: 4vh;text-align: center">
                <button pButton type="button" label="点击查看服务区大数据画像" class="ui-button-danger"></button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="echart-dashboard">
              <div class="gauge-a">
                <app-echart-gauge-a></app-echart-gauge-a>
              </div>
              <div class="gauge-b">
                <app-echart-gauge-a [amount]="80" [total]="100" [classify]="'女厕所'"></app-echart-gauge-a>
              </div>
              <div class="gauge-c">
                <app-echart-gauge-b></app-echart-gauge-b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-leader-right">
      <div class="col-lg-3 col-md-3">
        <div class="income-btn-vehicle">
          <div class="income">
            <app-service-manger-income
              [esDate]="esDate"
              [serviceId]="serviceZoneID"
              [serviceName]="serviceZoneTitle">
            </app-service-manger-income>
          </div>
          <div class="btn">
            <button pButton type="button" label="服务区信息修改" class="ui-button-danger"></button>
            <button pButton type="button" label="业态数据手动输入" class="ui-button-danger" style="background: #17A2B8;border-color: #17A2B8"></button>
          </div>
          <div class="vehicle">
            <!--车辆统计-->
            <app-service-manger-car
              [esDate]="esDate"
              [serviceId]="serviceZoneID"
              [serviceName]="serviceZoneTitle">
            </app-service-manger-car>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
