<div class="service-manger">
  <div class="row">
    <div class="service-manger-left">
      <div class="col-lg-3 col-md-3">
        <div class="event-list">
          <app-warning-event-list></app-warning-event-list>
        </div>
      </div>
    </div>
    <div class="service-leader-center">
      <div class="col-lg-6 col-md-6">
        <div class="video">
          <div class="video-list-top"></div>
          <div class="video-list-window">
            <div class="camera" style="background-color: red;"></div>
            <div class="camera" style="background-color: orange;"></div>
            <div class="camera" style="background-color: yellowgreen;margin-top: 1vh;"></div>
            <div class="camera" style="background-color: fuchsia;margin-top: 1vh;"></div>
          </div>
          <div class="video-list-bottom"></div>
        </div>
        <div class="echart">
          <div class="col-lg-6 col-md-6">
            <div class="echart-bar">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="echart-circle">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-leader-right">
      <div class="col-lg-3 col-md-3">
        <div class="income"></div>
        <div class="vehicle"></div>
      </div>
    </div>
  </div>
</div>
