.event-office>.table>thead{
  background: rgba(39,55,91,0.9);
  color: white;
}
.event-office>.table>tbody>tr{
  position: relative;
  color: #457FBB;
  border-collapse:separate;
  border-spacing:10px;
  font-size: 0.65rem;
}
.event-office>.table>tbody>tr:hover{
  cursor: pointer;
  background:rgba(255,255,255,0.3);
}
.event-office>.table>tbody>tr>td{
  border: none;
}
:host ::ng-deep .ui-scrollpanel-wrapper {
  background: transparent;
  border: none; /*控制滚动轴背景色*/
}
:host ::ng-deep .ui-scrollpanel-bar {
  background-color: transparent;
  opacity: 1;
  transition: background-color .3s;
}
:host ::ng-deep .ui-scrollpanel-content {
  padding: 0 0 18px 0;
}
:host ::ng-deep .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}

