<div [ngStyle]="{width: width, height: height}" style="background: rgba(32,36,45,0.9)">
  <p-scrollPanel [style]="{width: width, height: height}" styleClass="custom">
    <div class="table-responsive" style="background: rgba(32,36,45,0.9)">
      <table class="table" cellspacing="5px">
        <thead class="table-header">
          <tr>
            <td>时间</td>
            <td>问题描述</td>
            <td>处理反馈</td>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-tr" *ngFor="let item of option" (click)="eventClick(item)">
            <td>{{item?.time}}</td>
            <td>{{item?.proDesc}}</td>
            <td class="hot">
              {{item?.feedback}}
              <button class="btn btn-info" *ngIf="item?.feedback === '未处理'" style="margin-left:15px;padding: 0 5px;font-size: 12px">提交</button></td>
          </tr>
        </tbody>
    </table>
  </div>
  </p-scrollPanel>
</div>
