<div class="container-fluid" [ngStyle]="{backgroundImage: 'url(./assets/images/bg'+bgNum+'.jpg)'}">
  <app-header></app-header>
  <!--左侧导航-->
  <app-nav></app-nav>
  <!--&lt;!&ndash;手机导航&ndash;&gt;
  <div class="mobile-nav">
    <div class="row search-nav">
      <div class="col-xs-12 service-search" >
        <form [formGroup]="searchForm" class="form-horizontal"  novalidate>
          <div class="form-group">
            <div class="col-xs-9">
              <input type="text" class="form-control" formControlName="searchText" id="serviceZone" name="serviceZone" placeholder="请输入服务区">
            </div>
            <div class="col-xs-3 text-center">
              <button type="submit" class="btn btn-primary">搜索</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>-->
  <!--主内容-->
  <router-outlet></router-outlet>
  <!--底部-->
  <app-footer></app-footer>
</div>
