<div class="event-deal">
  <div class="event-deal-title">
    <span>未处理事件</span>
  </div>
  <app-event-list [option]="eventList" [width]="'100%'" [height]="'30vh'" (eventListClick)="openEventAlert($event)"></app-event-list>
  <!--事件弹窗-->
  <div class="bg-box" *ngIf="eventAlertShow" id="windowAlter">
    <div class="alert-window" style="height:80vh; margin-top: -40vh;">
      <div class="alert-window-header" >
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <span>服务区事件处理</span>
            <div class="pull-right" (click)="closeEventAlert()">
              <i class="fa fa-window-close " aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="alert-window-content" style="padding: 10px 10px 0 10px;">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div>
              <button class="btn" [ngStyle]="{'color':!eventAlertListShow?'black': 'white'}" [ngClass]="{'btn-primary': eventAlertListShow}" (click)="eventAlertListCtrlw()">未处理事件</button>
              <button class="btn" [ngStyle]="{'color':eventAlertListShow?'black': 'white'}" [ngClass]="{'btn-primary': !eventAlertListShow}" (click)="eventAlertListCtrly()">已处理事件</button>
            </div>
          </div>
          <div class="col-lg-8 col-md-8" *ngIf="eventAlertListShow">
            <app-event-list [option]="eventListNoProcess" [width]="'100%'" [height]="'65vh'" (eventListClick)="eventListInfosClick($event)"></app-event-list>
          </div>
          <div class="col-lg-8 col-md-8" *ngIf="!eventAlertListShow">
            <app-event-list [option]="eventListProcess" [width]="'100%'" [height]="'65vh'" (eventListClick)="eventListInfosClick($event)"></app-event-list>
          </div>
          <div class="col-lg-4 col-md-4">
            <app-event-list-info [option]="eventListInfo" [width]="'100%'" [height]="'45vh'"></app-event-list-info>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
